In [2]:
# ESte paquete se utiliza para traer imágenes.
from IPython.display import display, Image

**<font size="12">
Funciones
</font>**


Vamos a cubrir ciertas funciones necesarias para poder escribir las nuestras. <br>
1. Aprenderemos a utilizar la función **if**.
2. Veremos los tipos de **Loops** en Python.
3. Estructura de una **función**.
4. Construiremos un **proyecto** utilizando todo lo aprendido.

# Condiciones If

En python, la funcion **if** es útil para probar declaraciones condicionales. 
* Igual: a == b
* Diferente: a != b
* Menor Igual que: a <= b
* Menor que: a < b
* Mayor que: a > b
* Mayor igual que: a >= b

<div id="container">
    <img src = "../../0_Imagenes/if_condition.png" >
</div>

Entonces la estructura al escribir el código es la siguiente: <br><br>

<font size="4">
if <font color='green'>expresión lógica</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;código<br>
</font>

La función **if** prueba la veracidad de una expresión lógica; por lo tanto, el resultado de esta debe ser del tipo **<font color='red'>boolean</font>**, es decir, debe darnos **<font color='red'>True</font>** o **<font color='red'>False</font>**. En conclusión, cualquier función que como resultado da un objeto tipo **boolean** se puede utilizar en la función **if**.

## Ejemplos

In [43]:
A = 20
B = 30

In [44]:
# Comprobamos las expresiones lógicas
display( A > B )

# El resultado es del tipo bool que significa boolean
display( type( A > B ) )

False

bool

## Ejemplos

In [45]:
# A = 20
# B = 30

result = A == B
print( f'¿A es igual a B? \t{result}')

¿A es igual a B? 	False

1. La f delante del string indica que se pueden llamar las variables dentro del string a través de llaves.
2.  **\n** significa un salto de línea o presionar ENTER.
3.  **\t** es equivalente a presionar cuatro veces la barra espaciadora. Más información [aquí](https://www.quora.com/What-is-the-meaning-of-n-and-t-in-C-language#:~:text=%5Cn%20refers%20to%20%22new%20line,formatting%20output%20of%20the%20program.).

In [46]:
if A == B:
    print( 'A es igual a B' )

La función trabaja de la siguiente manera. Evalúa la expresión lógica, si esta es verdadera el código indentado es ejecutado; en caso contrario, se obvia el código y avanza.

In [39]:
# A = 20
# B = 30

result = A != B
print(f'¿A es diferente de B? \n {result}' )

¿A es diferente de B?
 True

In [11]:
# A = 20
# B = 30

if A != B:
    print( 'A es diferente a B' )

A es diferente a B

En esta línea de código podemos ver que dado que la expresión lógica que hemos puesto a prueba con **if** es verdadera, el código es ejecutado. El string es impreso en la pantalla.

In [15]:
# A = 20
# B = 30

result = A > B
print(f'¿A es mayor que B? \n {result}')

¿A es mayor que B?
 False

In [40]:
if A > B:
    print( 'A es mayor que B' )

In [16]:
# A = 20
# B = 30

result = A >= B
print( f'¿A es mayor igual que B? \n {result}')

¿A es mayor igual que B?
 False

In [18]:
# A = 20
# B = 30

if A >= B:
    print( 'A es mayor igual que B' )

In [17]:
# A = 20
# B = 30

result = A < B
print( f'¿A es menor que B?  \n {result}')

¿A es menor que B? True

In [18]:
if A < B:
    print( 'A es menor que B' )

A es menor que B

In [19]:
# A = 20
# B = 30

result = A <= B
print( f'¿A es menor igual que B?  \n {result}' )

¿A es menor igual que B? True

In [20]:
if A <= B:
    print( 'A es menor igual que B' )

A es menor igual que B

## ¿Qué pasa si queremos evaluar más de una expresión lógica?

En tal caso, utilizaremos **elif**. Esta función permite añadir expresiones lógicas a evaluar.  <br><br>

<font size="4">
if <font color='green'>condción1</font>: <br>
&nbsp;&nbsp;&nbsp;&nbsp;código1<br><br>
elif <font color='green'>condición2</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;código2<br><br>
elif <font color='green'>condición3</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;código3<br><br>
elif <font color='green'>condición4</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;código4<br><br>
elif <font color='green'>condición5</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;código5<br><br>
</font>

El programa leerá las condiciones en orden. Por lo tanto, si **la condición 2** es verdadera no se evaluará ninguna de las siguientes condiciones. Python ejecutará el **código2** y obviará el resto de código.

In [33]:
# A = 20
# B = 30

if A != B:
    print( 'A es diferente que B' )

elif A > B:
    print( 'A es mayor que B' )

elif A < B:
    print( 'A es menor que B' )

A es diferente que B

Se ejecutó la primera condición, porque esta era verdadera. Se obvió el resto de código y no se ejecutó a pesar que **la condición3** también era verdadera.

In [22]:
# A = 20
# B = 30

if A == B:
    print( 'A es igual a B' )
    
elif A != B:
    print( 'A es diferente de B' )
    
elif A < B:
    print( 'A es menor que B' )

A es diferente que B

Se ejecutó el codigo2 a pesar que **la condición3**  era verdadera.

In [23]:
# A = 20
# B = 30

if A == B:
    print( 'A es igual a B' )

elif A > B:
    print( 'A es mayor que B' )

elif A < B:
    print( 'A es menor que B' )

A es menor que B

Se ejecutó el **codigo3**, porque todas las demás eran falsas.

## ¿Qué pasa si quiero que se ejcute un código en el caso que ninguna de las condiciones sean verdaderas?

Ahora, si nosotros queremos que se ejecute cierto código en caso todas nuestras condiciones sean falsas, utilizamos la función **else**. Cuando las condiciones escritas al costado del **if** y **elif** no se cumplen, el código que se ejecutará será el que está debajo de **else**.
<br>
Leamos el código:
<br><br>

<font size="4">
if <font color='green'>condición1</font>: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;código1<br><br>
elif <font color='green'>condición2</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;código2<br><br>
elif <font color='green'>condición3</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;código3<br><br>
elif <font color='green'>condición4</font>:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;código4<br><br>
else:<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;código5<br>
<br>
</font>

Cuándo ninguna de las condiciones 1, 2, 3 y 4 son verdaderas, se ejecuta el código5.

In [24]:
# A = 20
# B = 30

if A > B:
    print( 'A es igual B' )
    
elif A >= B:
    print( 'A es mayor igual que B' )
    
else:
    print( 'Cuando ninguna condición es verdadera, se imprime esta frase.' )

Cuando ninguna condición es verdadera, se imprime esta frase.

In [25]:
# A = 20
# B = 30

if A < B:
    print( 'A es menor que B. La condición1 era verdadera.' )
    
elif A <= B:
    print( 'A es menor que B. La condición2 era verdadera.' )
    
elif A >= B:
    print( 'A es mayor que B. La condición3 era verdadera.' )
    
else:
    print( 'Cuando ninguna condición es verdadera, se imprime esta frase.' )

A es menor que B. La condición1 era verdadera.

In [19]:
# A = 20
# B = 30

if A == B:
    print( 'A es igual que B. La condición 1 era verdadera.' )
    
elif A > B:
    print( 'A es mayor que B. La condición 2 era verdadera.' )

elif A >= B:
    print( 'A es mayor igual que B. La condición 3 era verdadera.' )
    
elif A < B:
    print( 'A es menor que B. La condición 4 era verdadera.' )
    
elif A <= B:
    print( 'A es menor igual que B. La condición 5 era verdadera.' )
    
else:
    print( 'Cuando ninguna condición es verdadera, se imprime esta frase.' )

A es menor que B. La condición 4 era verdadera.

# Operaciones Lógicas

Hay 3 operaciones lógicas que cubriremos **<font color = 'red' >and</font>**, **<font color = 'red' > or</font>**, and **<font color = 'red' > not</font>**.

In [25]:
A = 20
B = 30
C = 25

if A == B and A < C:
    print( 'A es igual que B y menor que C. La condición 1 era verdadera.' )
    
elif A > B or A > C:
    print( 'A es mayor que B o mayor que C. La condición 2 era verdadera.' )

elif B > C and B > A :
    print( 'B es mayor que C y mayor que A. La condición 3 era verdadera.' )
    
else:
    print( 'Cuando ninguna condición es verdadera, se imprime esta frase.' )

B es mayor que C y mayor que A. La condición 3 era verdadera.

In [41]:
# A = 20
# B = 30
# C = 25

if not ( A  > 27 )  :
    print( 'A no es igual a 27. La condición 1 era verdadera.' )
        
else:
    print( 'Cuando ninguna condición es verdadera, se imprime esta frase.' )

A no es igual a 27. La condición 1 era verdadera.

In [27]:
# A = 20
# B = 30
# C = 25

if not ( A  == 27 )  :
    print( 'A no es igual a 27. La condición 1 era verdadera.' )

elif 

else:
    print( 'Cuando ninguna condición es verdadera, se imprime esta frase.' )

A no es 30. La condición 1 era verdadera.

# Operaciones de Identidad

Estos operadores son los siguientes **<font color = 'red' >is</font>**, and **<font color = 'red' > is not</font>**.

In [29]:
C = None
C

Se puede evaluar si una variable está <span style="color:red">*vacía* </span>.

In [30]:
if C is None:
    print( 'Ohh No C está vacía :(')

Ohh No C está vacía :(

In [32]:
if C is not float:
    print( 'C no es del tipo float')

C no es del tipo float

# Toda función de resultado boolean

La función **if** no solo es útil con expresiones lógicas, sino también con funciones cuyo resultado sea un booleano (True or False). <br>
Por ejemplo, la función **isinstance** evalúa si una variable es string, bool, int, float y como resultado da un booleano (True or False). Para más infomación [aquí](https://docs.python.org/3/library/functions.html#isinstance). <br>

In [27]:
# EL resultado de isinstance es un booleano. Entonces puede ser utilizado como condición en la función if.
isinstance( A, str )

False

In [28]:
A = 20
# A = np.array([3, 4, 5])

if isinstance( A, str ):
    print( 'A es un string' )

elif isinstance( A, bool ):
    print( 'A es un boolean' )

elif isinstance( A, float ):
    print( 'A es un float' )

elif isinstance( A, int ):
    print( 'A es un integer' )

elif isinstance( A, complex ):
    print( 'A es un integer' )

else:
    print( 'A es otro tipo de variable')

A es un integer

# Formato de los IF condition

La forma estricta de correr los if condition es de la siguiente manera: <br>

<font size="4">


if <font color='green'>condción1</font>: <font color='red'>(Obligatorio)</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;código1<br><br>
elif <font color='green'>condción2</font>: **(Opcional)**<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;código2<br><br>
elif <font color='green'>condción3</font>: **(Opcional)**<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;código3<br><br>
elif <font color='green'>condción4</font>: **(Opcional)**<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;código4<br><br>
else: <font color='red'>(Obligatorio)</font><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;código5<br>
<br>
</font>

# Loops
Estudiaremos los 2 tipos de loops en python. Un loop es una función que permite realizar tareas de manera iterativa cierto número de veces (for loop) o mientras una condición sea verdadera (while loop).

## While Loop
While loop es utilizado para repetir código mientras la condición se mantenga verdadera. Cuando la expresión lógica sea falsa, el código terminará de ejecutarse. [More Info](https://python101.pythonlibrary.org/chapter5_loops.html)
<img src="../../0_Imagenes\while_loop.jpg">

Veamos la estructura: <br>

while condition: <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;código 1<br><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;código break.<br><br>

El códgio break es una expresión que permita que la condición lógica sea falsa en algún momento, porque si no, el código seguira ejecutandose infinitamente.

In [38]:
i = 1

# La condición es  "i < 6"
while i < 6:
    
    # El código imprime i
    print(i)
    
    #código break, cuando i sea igual a 6 se terminará el código.
    i += 1 
    # equivalente a i = i + 1

1
2
3
4
5

### Ejercicios
1. Imprimir 2 elevado tantas veces sea posible, pero que el resultado sea menor 10,000.

In [1]:
x = 2
while x < 10000:
    # Código
    print(x)
    
    #Código break
    x = 2*x
    # X está multiplicando consigo mismo hasta que sea menor que 10 000

2
4
8
16
32
64
128
256
512
1024
2048
4096
8192

2. Un profesor tiene 100 manzanas para toda su clase. Si el primer estudiante tomó 4 manzanas y el siguiente siempre toma más manzanas que el anterior, ¿Cuántos niños tuvieron manzanas?

In [43]:
manzanas = 100
primero = 4
i = 1
while manzanas > primero:
    
    # Código
    manzanas = manzanas - primero
    primero += 1
    
    # Código break
    i += 1
    # Para que sirve la función format 
    print('El niño número {} tomó {} manzanas'.format( i, primero ))

print('{} niños tomaron manzanas'.format( i ))

El niño número 2 tomó 5 manzanas
El niño número 3 tomó 6 manzanas
El niño número 4 tomó 7 manzanas
El niño número 5 tomó 8 manzanas
El niño número 6 tomó 9 manzanas
El niño número 7 tomó 10 manzanas
El niño número 8 tomó 11 manzanas
El niño número 9 tomó 12 manzanas
El niño número 10 tomó 13 manzanas
El niño número 11 tomó 14 manzanas
El niño número 12 tomó 15 manzanas
12 niños tomaron manzanas

3. Imprimir todos los elementos de un array.

In [45]:
# Utilizaremos el paquete np.
import numpy as np

edad = np.array([ 3, 6, 7, 10, 15, 17, 18, 31, 26, 88 , 100, 120, 110])
i = 0

while i < edad.size:
    
    print(edad[i])
    i += 1

3
6
7
10
15
17
18
31
26
88
100
120
110

4. Si tengo mi ahorro el día de hoy de S/.1 000.00. ¿Cuánto será el valor de mi ahorro dentro de 10 años a una tasa de interés de 2.5%?

$$
S_{y+1}	=S_{y}(1+i)
$$

In [46]:
# Ahorro
S = 1000

# Periodos
n = 10

# Tasa de interés
i = 0.025

In [47]:
year = 1
while year < n:
    S +=  S * i
    year += 1
    print( year, S)

1 1025.0
2 1050.625
3 1076.890625
4 1103.812890625
5 1131.408212890625
6 1159.6934182128907
7 1188.685753668213
8 1218.4028975099184
9 1248.8629699476664
10 1280.0845441963581

In [27]:
dias_de_cuarentena = 1
nivel_de_estres = 2


while dias_de_cuarentena <= 40:
    
    print(f'Dia de cuarentena n° {dias_de_cuarentena}.')
    if nivel_de_estres > 100:
        print( f'Dejaron salir a la señorita en el dia {dias_de_cuarentena}. \n')
        nivel_de_estres = 1
        dias_de_cuarentena = dias_de_cuarentena + 1
        continue
        
    
    # Esto es lo que hara en cada uno de los días
    if dias_de_cuarentena < 15:
        
        print( "La señorita mira the peaky blinders y Love alarm" )
    
    elif ( dias_de_cuarentena >= 15 ) & ( dias_de_cuarentena < 20 ):
        
        print( "La señorita lee eL MUNDO DE SOFIA y Crónica de una muerte anunciada")
    
    elif ( dias_de_cuarentena >= 20 ) & ( dias_de_cuarentena < 40 ):
        print( 'La señorita arma su clase de Fundamento de Análisis I')
        
    else:
        print( "La señorita se ejercita" )
    
    print( f'Se acabo el dia numero {dias_de_cuarentena} de cuarentena. \n')
    
    # Dias aumentan
    dias_de_cuarentena = dias_de_cuarentena + 1
    nivel_de_estres = nivel_de_estres * 2

print( "Se acabo la cuarentena." )

Dia de cuarentena n° 1.
La señorita mira the peaky blinders y Love alarm
Se acabo el dia numero 1 de cuarentena.

Dia de cuarentena n° 2.
La señorita mira the peaky blinders y Love alarm
Se acabo el dia numero 2 de cuarentena.

Dia de cuarentena n° 3.
La señorita mira the peaky blinders y Love alarm
Se acabo el dia numero 3 de cuarentena.

Dia de cuarentena n° 4.
La señorita mira the peaky blinders y Love alarm
Se acabo el dia numero 4 de cuarentena.

Dia de cuarentena n° 5.
La señorita mira the peaky blinders y Love alarm
Se acabo el dia numero 5 de cuarentena.

Dia de cuarentena n° 6.
La señorita mira the peaky blinders y Love alarm
Se acabo el dia numero 6 de cuarentena.

Dia de cuarentena n° 7.
Dejaron salir a la señorita en el dia 7.

Dia de cuarentena n° 8.
La señorita mira the peaky blinders y Love alarm
Se acabo el dia numero 8 de cuarentena.

Dia de cuarentena n° 9.
La señorita mira the peaky blinders y Love alarm
Se acabo el dia numero 9 de cuarentena.

Dia de cuarentena n° 10.
La señorita mira the peaky blinders y Love alarm
Se acabo el dia numero 10 de cuarentena.

Dia de cuarentena n° 11.
La señorita mira the peaky blinders y Love alarm
Se acabo el dia numero 11 de cuarentena.

Dia de cuarentena n° 12.
La señorita mira the peaky blinders y Love alarm
Se acabo el dia numero 12 de cuarentena.

Dia de cuarentena n° 13.
La señorita mira the peaky blinders y Love alarm
Se acabo el dia numero 13 de cuarentena.

Dia de cuarentena n° 14.
La señorita mira the peaky blinders y Love alarm
Se acabo el dia numero 14 de cuarentena.

Dia de cuarentena n° 15.
Dejaron salir a la señorita en el dia 15.

Dia de cuarentena n° 16.
La señorita lee eL MUNDO DE SOFIA y Crónica de una muerte anunciada
Se acabo el dia numero 16 de cuarentena.

Dia de cuarentena n° 17.
La señorita lee eL MUNDO DE SOFIA y Crónica de una muerte anunciada
Se acabo el dia numero 17 de cuarentena.

Dia de cuarentena n° 18.
La señorita lee eL MUNDO DE SOFIA y Crónica de una muerte anunciada
Se acabo el dia numero 18 de cuarentena.

Dia de cuarentena n° 19.
La señorita lee eL MUNDO DE SOFIA y Crónica de una muerte anunciada
Se acabo el dia numero 19 de cuarentena.

Dia de cuarentena n° 20.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 20 de cuarentena.

Dia de cuarentena n° 21.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 21 de cuarentena.

Dia de cuarentena n° 22.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 22 de cuarentena.

Dia de cuarentena n° 23.
Dejaron salir a la señorita en el dia 23.

Dia de cuarentena n° 24.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 24 de cuarentena.

Dia de cuarentena n° 25.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 25 de cuarentena.

Dia de cuarentena n° 26.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 26 de cuarentena.

Dia de cuarentena n° 27.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 27 de cuarentena.

Dia de cuarentena n° 28.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 28 de cuarentena.

Dia de cuarentena n° 29.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 29 de cuarentena.

Dia de cuarentena n° 30.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 30 de cuarentena.

Dia de cuarentena n° 31.
Dejaron salir a la señorita en el dia 31.

Dia de cuarentena n° 32.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 32 de cuarentena.

Dia de cuarentena n° 33.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 33 de cuarentena.

Dia de cuarentena n° 34.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 34 de cuarentena.

Dia de cuarentena n° 35.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 35 de cuarentena.

Dia de cuarentena n° 36.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 36 de cuarentena.

Dia de cuarentena n° 37.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 37 de cuarentena.

Dia de cuarentena n° 38.
La señorita arma su clase de Fundamento de Análisis I
Se acabo el dia numero 38 de cuarentena.

Dia de cuarentena n° 39.
Dejaron salir a la señorita en el dia 39.

Dia de cuarentena n° 40.
La señorita se ejercita
Se acabo el dia numero 40 de cuarentena.

Se acabo la cuarentena.

In [ ]:
dias_de_cuarentena = 1
nivel_de_estres = 2


while dias_de_cuarentena <= 40:
    
    print(f'Dia de cuarentena n° {dias_de_cuarentena}.')
    if nivel_de_estres > 100:
        print( f'Dejaron salir a la señorita en el dia {dias_de_cuarentena}. \n')
        nivel_de_estres = 1
        dias_de_cuarentena = dias_de_cuarentena + 1
        continue
        
    
        
    print(f'Dia de cuarentena n° {dias_de_cuarentena}.')
    
    # Esto es lo que hara en cada uno de los días
    if dias_de_cuarentena < 15:
        
        print( "La señorita mira the peaky blinders y Love alarm" )
    
    elif ( dias_de_cuarentena >= 15 ) & ( dias_de_cuarentena < 20 ):
        
        print( "La señorita lee eL MUNDO DE SOFIA y Crónica de una muerte anunciada")
    
    elif ( dias_de_cuarentena >= 20 ) & ( dias_de_cuarentena < 40 ):
        print( 'La señorita arma su clase de Fundamento de Análisis I')
        
    else:
        print( "La señorita se ejercita" )
    
    print( f'Se acabo el dia numero {dias_de_cuarentena} de cuarentena. \n')
    
    # Dias aumentan
    dias_de_cuarentena = dias_de_cuarentena + 1
    nivel_de_estres = nivel_de_estres * 2

print( "Se acabo la cuarentena." )

Ahora, si nosotros queremos que el loop se detenga de acuerdo a una condición, se puede utilizar la función **break**. Esta función finaliza el loop, se puede utilizar dentro de un **if**.

In [22]:
import pandas as pd
data1 = {'nombres': ['Marcelo', 'Octavio', 'Fredy', 'Felipe', 'Arturo', 'Anzony', 'Finado', 'Alex', 'Anny', 'Yampi'], 
     'edad': [23, 25, 36, 78, 90, 32, 200, 24, 12, 18]}
personas = pd.DataFrame( data = data1)

In [23]:
personas

   nombres  edad
0  Marcelo    23
1  Octavio    25
2    Fredy    36
3   Felipe    78
4   Arturo    90
5   Anzony    32
6   Finado   200
7     Alex    24
8     Anny    12
9    Yampi    18

In [50]:
i = 0
# Vamos a ir fila por fila
nrows = personas.edad.count()
while i < nrows:
  
    if personas['edad'][i] > 100:
        print('Que fue loco fantasmas')
        break
    
    elif personas['edad'][i] < 18:
        # Hemos creado una nueva columna y la estamos rellenando
        personas.loc[[i], ["pasa"]] = "No pasa"
    
    else:
        personas.loc[[i], ["pasa"]] = "Pasa"
        
    i += 1

Que fue loco fantasmas

In [51]:
personas

   nombres  edad  pasa
0  Marcelo    23  Pasa
1  Octavio    25  Pasa
2    Fredy    36  Pasa
3   Felipe    78  Pasa
4   Arturo    90  Pasa
5   Anzony    32  Pasa
6   Finado   200   NaN
7     Alex    24   NaN
8     Anny    12   NaN
9    Yampi    18   NaN

Si no se quiere que el código se rompa el loop podemos utilizar **pass** o **continue**. Estos tienen diferencias. **pass** permite que el loop siga iterando, mientras que **continue** le dice al código que salte esa iteración.

In [58]:
data1 = {'nombres': ['Marcelo', 'Octavio', 'Fredy', 'Felipe', 'Arturo', 'Anzony', 'Finado', 'Alex', 'Anny', 'Yampi'], 
     'edad': [23, 25, 36, 78, 90, 32, 200, 24, 12, 18]}
personas = pd.DataFrame( data = data1)

In [59]:
personas

   nombres  edad
0  Marcelo    23
1  Octavio    25
2    Fredy    36
3   Felipe    78
4   Arturo    90
5   Anzony    32
6   Finado   200
7     Alex    24
8     Anny    12
9    Yampi    18

In [60]:
i += 1

In [ ]:
i = 0
# Vamos a ir fila por fila
nrows = personas.edad.count()
while i < nrows:
  
    if personas['edad'][i] > 100:
        print('Que fue loco fantasmas')
        continue
    
    elif personas['edad'][i] < 18:
        personas.loc[[i], ["pasa"]] = "No pasa"
    
    else:
        personas.loc[[i], ["pasa"]] = "Pasa"
    
    # breake code
    i += 1

El loop se repite infinitamente porque python no ejecuta el break code.

In [64]:
personas

   nombres  edad     pasa
0  Marcelo    23     Pasa
1  Octavio    25     Pasa
2    Fredy    36     Pasa
3   Felipe    78     Pasa
4   Arturo    90     Pasa
5   Anzony    32     Pasa
6   Finado   200      NaN
7     Alex    24     Pasa
8     Anny    12  No pasa
9    Yampi    18     Pasa

In [67]:
data1 = {'nombres': ['Marcelo', 'Octavio', 'Fredy', 'Felipe', 'Arturo', 'Anzony', 'Finado', 'Alex', 'Anny', 'Yampi'], 
     'edad': [23, 25, 36, 78, 90, 32, 200, 24, 12, 18]}
personas = pd.DataFrame( data = data1)

In [68]:
i = 0
# Vamos a ir fila por fila
nrows = personas.edad.count()
while i < nrows:
  
    if personas['edad'][i] > 100:
        pass
    
    elif personas['edad'][i] < 18:
        personas.loc[[i], ["pasa"]] = "No pasa"
    
    else:
        personas.loc[[i], ["pasa"]] = "Pasa"
        
    i += 1

Python ejecuta el código normalmente

In [69]:
personas

   nombres  edad     pasa
0  Marcelo    23     Pasa
1  Octavio    25     Pasa
2    Fredy    36     Pasa
3   Felipe    78     Pasa
4   Arturo    90     Pasa
5   Anzony    32     Pasa
6   Finado   200      NaN
7     Alex    24     Pasa
8     Anny    12  No pasa
9    Yampi    18     Pasa