In [5]:
import pandas as pd
import numpy as np
import chardet

In [6]:
#Gettting the code of strings

rawdata = open(r'../../../data/fallecidos_covid.csv', 'rb').read()
result = chardet.detect(rawdata)
charenc = result['encoding']

# Tarea de la clase Pandas

## Relative Path
Escribe el relative path que ubica al archivo fallecidos_covid.csv y asiganle a la varible relative_path.

In [16]:
relative_path = ''

In [8]:
muertos_covid = pd.read_csv( r'../../../data/fallecidos_covid.csv',   delimiter = ';',  encoding = charenc )

## ID
Encuentra la variable que identifica a cada una observación. Halla la variable ID de la data fallecidos_covid.csv y señala en un comentario.

In [ ]:
muertos_covid.sort_values( ['DEPARTAMENTO', 'PROVINCIA', 'DISTRITO'] ).head(20)

In [15]:
print( muertos_covid.set_index( [ 'UUID' ] ).index.is_unique )

True

In [38]:
muertos_covid.columns

Index(['FECHA_CORTE', 'UUID', 'FECHA_FALLECIMIENTO', 'EDAD_DECLARADA', 'SEXO',
       'FECHA_NAC', 'DEPARTAMENTO', 'PROVINCIA', 'DISTRITO'],
      dtype='object')

In [ ]:
#1
muertos_covid[ ( muertos_covid[ 'SEXO'] == 'FEMENINO' ) \
        | ( muertos_covid[ 'SEXO'] == 'MASCULINO' ) ] \
             .groupby( ['SEXO'])[ [ 'SEXO' ] ].count()

In [ ]:
#2
muertos_covid[ (( muertos_covid[ 'SEXO'] == 'FEMENINO' ) \
        | ( muertos_covid[ 'SEXO'] == 'MASCULINO' ))  \
        & ( ( muertos_covid[ 'EDAD_DECLARADA'] >= 30 )  \
        & ( muertos_covid[ 'EDAD_DECLARADA'] <= 60 ) )  ] \
        .groupby( ['SEXO'])[ [ 'SEXO' ] ].count()

In [57]:
# 3
dpt_covid = muertos_covid.groupby( ['DEPARTAMENTO'] ) \
            [ ['DEPARTAMENTO'] ].count()

In [64]:
dpt_covid.rename( columns = {'DEPARTAMENTO':'num_death_dpt'}, \
                 inplace = True)

In [63]:
dpt_covid_index = dpt_covid.reset_index( level = [ 'DEPARTAMENTO'] )

In [73]:
# 4
dpt_prv_covid = muertos_covid.groupby( ['DEPARTAMENTO', \
                        'PROVINCIA'] )[ ['PROVINCIA'] ].count()

In [74]:
dpt_prv_covid.rename( columns = {'PROVINCIA':'num_death_prv'}, \
                 inplace = True)

In [75]:
dpt_prv_covid_index = dpt_prv_covid.reset_index( level = [ 'DEPARTAMENTO' \
                                                , 'PROVINCIA' ] )

In [76]:
dpt_prv_covid_index

    DEPARTAMENTO         PROVINCIA  num_death_prv
0       AMAZONAS             BAGUA            109
1       AMAZONAS           BONGARA             15
2       AMAZONAS       CHACHAPOYAS             44
3       AMAZONAS      CONDORCANQUI             22
4       AMAZONAS              LUYA             22
..           ...               ...            ...
200       TUMBES            TUMBES            322
201       TUMBES         ZARUMILLA             77
202      UCAYALI           ATALAYA             10
203      UCAYALI  CORONEL PORTILLO            432
204      UCAYALI        PADRE ABAD             55

[205 rows x 3 columns]

In [71]:
# 5
dpt_prv_dstri_covid = muertos_covid.groupby( ['DEPARTAMENTO', \
                        'PROVINCIA', 'DISTRITO'] )[ ['DISTRITO'] ].count()

In [72]:
dpt_prv_dstri_covid.rename( columns = {'DISTRITO':'num_death_distrito'}, \
                 inplace = True)

In [78]:
dpt_prv_dstri_covid_index = dpt_prv_dstri_covid.reset_index( \
                            level = [ 'DEPARTAMENTO', 'PROVINCIA', \
                                    'DISTRITO'] )

In [ ]:
dpt_prv_dstri_covid_index

## Análisis de la data fallecidos covid

0. ¿A qué sexo pertenecen el mayor número de fallecidos?

1. Dentro de los fallecidos de entre 30 y 60 años, ¿Qué sexo es el que cuenta con mayor número de fallecidos ?

2. ¿Cuántas observaciones no cuentan con información de fecha de nacimiento?

3. Halla el total de fallecidos por departamento.

4. Halla el total de fallecidos por provincia.

5. Halla el total de fallecidos por distrito.

6. Genera una tabla donde se encuentre el porcentaje de muertos por cada distrito con respecto a la provincia (llamen a la columna distr_prov) que pertenecen. Este dataframe debe contener las siguientes columnas: DEPARTAMENTO, PROVINCIA, DISTRITO y distr_prov.

7. Genera una tabla donde se encuentre el porcentaje de muertos por cada provincia con respecto al departamento que pertenecen (llamen a la columna prov_dpto). Este dataframe debe contener las siguientes columnas: DEPARTAMENTO, PROVINCIA y prov_dpto.

8. Genera una tabla donde se encuentre el porcentaje de muertos por cada distrito con respecto al departamento que pertenecen (llamen a la columna distr_dpto). Este dataframe debe contener las siguientes columnas: DEPARTAMENTO, PROVINCIA, DISTRITO, distr_prov, prov_dpto y distr_dpto.

9. Exportar la data de la pregunta 8 en un csv que se guarde en la carpeta save_data.

In [86]:
# 6
data_6 = dpt_prv_dstri_covid_index.merge( dpt_prv_covid_index , how = 'left' \
                          , on = [ 'DEPARTAMENTO', 'PROVINCIA'] \
                               , indicator = True )

In [94]:
# Cheking _merge column
data_6.groupby( ['_merge'] )['_merge'].count()

# Dropping data
data_6_cheked = data_6.drop([ '_merge' ], axis=1)

In [95]:
# 7
data_7 = dpt_prv_covid_index.merge( dpt_covid_index , how = 'left' \
                          , on = [ 'DEPARTAMENTO' ] \
                               , indicator = True )

In [98]:
# Cheking _merge column
data_7.groupby( ['_merge'] )['_merge'].count()

# Dropping data
data_7_cheked = data_7.drop([ '_merge' ], axis=1)

In [99]:
# 8 
data_8 = data_6_cheked.merge( data_7_cheked , how = 'left' \
                          , on = [ 'DEPARTAMENTO', 'PROVINCIA'] \
                               )

In [100]:
data_8.head(3)

,DEPARTAMENTO,PROVINCIA,DISTRITO,num_death_distrito,num_death_prv_x,num_death_prv_y,num_death_dpt
0,AMAZONAS,BAGUA,ARAMANGO,10,109,109,326
1,AMAZONAS,BAGUA,BAGUA,60,109,109,326
2,AMAZONAS,BAGUA,COPALLIN,4,109,109,326

In [101]:
# Creating this columns  distr_prov, prov_dpto y distr_dpto
# num_death_prv_x and num_death_prv_y are equal
data_8[ 'distr_prov' ] =    data_8[ 'num_death_distrito' ] * 100 / \
                            data_8[ 'num_death_prv_x' ]

data_8[ 'prov_dpto' ] =     data_8[ 'num_death_prv_x' ] * 100 / \
                            data_8[ 'num_death_prv_y' ]

data_8[ 'distr_dpto' ] =    data_8[ 'num_death_distrito' ] * 100 / \
                            data_8[ 'num_death_dpt' ]

In [102]:
data_8_cheked = data_8.drop([ 'num_death_distrito' , 'num_death_prv_x', \
                            'num_death_prv_y', 'num_death_dpt'], axis=1)

In [104]:
data_8_cheked.round(2).to_csv( '' )

,DEPARTAMENTO,PROVINCIA,DISTRITO,distr_prov,prov_dpto,distr_dpto
0,AMAZONAS,BAGUA,ARAMANGO,9.17,33.44,3.07
1,AMAZONAS,BAGUA,BAGUA,55.05,33.44,18.40
2,AMAZONAS,BAGUA,COPALLIN,3.67,33.44,1.23
3,AMAZONAS,BAGUA,IMAZA,22.02,33.44,7.36
4,AMAZONAS,BAGUA,LA PECA,10.09,33.44,3.37
...,...,...,...,...,...,...
1444,UCAYALI,CORONEL PORTILLO,YARINACOCHA,21.53,80.90,17.42
1445,UCAYALI,PADRE ABAD,CURIMANA,3.64,10.30,0.37
1446,UCAYALI,PADRE ABAD,IRAZOLA,10.91,10.30,1.12
1447,UCAYALI,PADRE ABAD,NESHUYA,12.73,10.30,1.31
1448,UCAYALI,PADRE ABAD,PADRE ABAD,72.73,10.30,7.49