In [2]:
import pandas as pd
import numpy as np
import chardet

In [3]:
#Gettting the code of strings

rawdata = open(r'C:\Users\user\OneDrive\Documentos\GitHub\The_Code_Blinders\data\fallecidos_covid.csv', 'rb').read()
result = chardet.detect(rawdata)
charenc = result['encoding']

# Tarea de la clase Pandas

## Relative Path
Escribe el relative path que ubica al archivo fallecidos_covid.csv y asiganle a la varible relative_path.

In [12]:
relative_path = r'C:\Users\user\OneDrive\Documentos\GitHub\The_Code_Blinders\data\fallecidos_covid.csv'

In [13]:
muertos_covid = pd.read_csv(relative_path ,   delimiter = ';',  encoding = charenc )

## ID
Encuentra la variable que identifica a cada una observación. Halla la variable ID de la data fallecidos_covid.csv y señala en un comentario.

In [14]:
muertos_covid

,FECHA_CORTE,UUID,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,FECHA_NAC,DEPARTAMENTO,PROVINCIA,DISTRITO
0,20210302,cdbdc47c6c955a031f997677becb9065,20200729,64,MASCULINO,19551202.0,LIMA,LIMA,CHORRILLOS
1,20210302,a3aaeeedaba295f128635f5edbda6498,20200729,78,FEMENINO,19420118.0,LIMA,LIMA,COMAS
2,20210302,631e87aac1be2aabd19935a6a255a569,20200729,66,MASCULINO,19540503.0,LIMA,LIMA,COMAS
3,20210302,74c292a1a2c357a786b26a13fc839719,20200729,69,MASCULINO,19510314.0,LIMA,LIMA,COMAS
4,20210302,229e060d0ece75f752a790eab2e4470d,20200729,71,MASCULINO,19490215.0,LIMA,LIMA,COMAS
...,...,...,...,...,...,...,...,...,...
47084,20210302,5a88884f8b44e60cd1b48600e9f82275,20201125,49,MASCULINO,NaN,LIMA,LIMA,SAN MARTIN DE PORRES
47085,20210302,06a96fa92f5ee82a29386e177cdb700f,20201128,65,MASCULINO,NaN,LIMA,LIMA,MAGDALENA DEL MAR
47086,20210302,d192565dac6c74ed120c402cbbdd3115,20201128,60,FEMENINO,NaN,ANCASH,SANTA,NUEVO CHIMBOTE
47087,20210302,01be7035823ed5f7b5de812af513bd60,20201125,62,FEMENINO,NaN,LIMA,LIMA,SAN MARTIN DE PORRES
47088,20210302,80ef6326c8cf48002d98dce3a79b0369,20201125,66,FEMENINO,NaN,LIMA,LIMA,SAN MIGUEL

## Análisis de la data fallecidos covid

0. ¿A qué sexo pertenecen el mayor número de fallecidos?

1. Dentro de los fallecidos de entre 30 y 60 años, ¿Qué sexo es el que cuenta con mayor número de fallecidos ?

2. ¿Cuántas observaciones no cuentan con información de fecha de nacimiento?

3. Halla el total de fallecidos por departamento.

4. Halla el total de fallecidos por provincia.

5. Halla el total de fallecidos por distrito.

6. Genera una tabla donde se encuentre el porcentaje de muertos por cada distrito con respecto a la provincia (llamen a la columna distr_prov) que pertenecen. Este dataframe debe contener las siguientes columnas: DEPARTAMENTO, PROVINCIA, DISTRITO y distr_prov.

7. Genera una tabla donde se encuentre el porcentaje de muertos por cada provincia con respecto al departamento que pertenecen (llamen a la columna prov_dpto). Este dataframe debe contener las siguientes columnas: DEPARTAMENTO, PROVINCIA y prov_dpto.

8. Genera una tabla donde se encuentre el porcentaje de muertos por cada distrito con respecto al departamento que pertenecen (llamen a la columna distr_dpto). Este dataframe debe contener las siguientes columnas: DEPARTAMENTO, PROVINCIA, DISTRITO, distr_prov, prov_dpto y distr_dpto.

9. Exportar la data de la pregunta 8 en un csv que se guarde en la carpeta save_data. Los datos nuemricos deben ser redondeados en 2 decimales.

## ¿A qué sexo pertenecen el mayor número de fallecidos?

In [16]:
fallecidos_hombre = muertos_covid.loc[ ( muertos_covid[ "SEXO" ] == "MASCULINO" )]
fallecidos_hombre
len(fallecidos_hombre)

31754

In [17]:
fallecidos_mujer = muertos_covid.loc[ ( muertos_covid[ "SEXO" ] == "FEMENINO" )]
fallecidos_mujer
len(fallecidos_mujer)

15325

In [24]:
len(fallecidos_hombre)+len(fallecidos_mujer)
if len(fallecidos_hombre)>len(fallecidos_mujer):
    print('El número de fallecidos es mayor en hombres')
else:
    print('El número de fallecidos es mayor en mujeres')

El número de fallecidos es mayor en hombres

## Dentro de los fallecidos de entre 30 y 60 años, ¿Qué sexo es el que cuenta con mayor número de fallecidos ?

In [27]:
fallecidos_30_60_h = muertos_covid.loc[ ( muertos_covid[ "SEXO" ] == "MASCULINO" ) & ( muertos_covid[ "EDAD_DECLARADA" ] >= 30 ) & ( muertos_covid[ "EDAD_DECLARADA" ] <= 60 )]
len(fallecidos_30_60_h)

10459

In [28]:
fallecidos_30_60_m = muertos_covid.loc[ ( muertos_covid[ "SEXO" ] == "FEMENINO" ) & ( muertos_covid[ "EDAD_DECLARADA" ] >= 30 ) & ( muertos_covid[ "EDAD_DECLARADA" ] <= 60 )]
len(fallecidos_30_60_m)

4111

In [29]:
len(fallecidos_30_60_h)+len(fallecidos_30_60_m)
if len(fallecidos_30_60_h)>len(fallecidos_30_60_m):
    print('El número de fallecidos entre 30 y 60 años es mayor en hombres')
else:
    print('El número de fallecidos entre 30 y 60 años es mayor en mujeres')

El número de fallecidos entre 30 y 60 años es mayor en hombres

## ¿Cuántas observaciones no cuentan con información de fecha de nacimiento?