In [4]:
import pandas as pd

In [5]:
import pickle

# Funciones

En esta clase trataremos acerca de todo lo relacionado con la creación de funciones en el entorno de Python.

## Estructura basica de una función
La creación de una función demanda de la definción de esta a través de la función **def**. Esta permite darle nombre a la función y asignarle argumentos.

In [3]:
def mi_function(x):
    
    # codigo codigo
    
    return resultado

### Variables internas VS  Variables Externas
Los argumentos de una función toman el papel de variables internas. Estas tomarán valores cuando la función sea ejecutada; sin embargo, estas no existen solo finjen ser variables que tienen métodos, funciones y atributos al igual que los futuros valores que se le otorgarán.\
Un for loop si crea variables a diferencia de las funciones. Estas variables existen en el entorno de python, pero las variables que se utilizan para definir las funciones no existen. Tomarán valores cuando la función se ejecute.

In [4]:
for x in range(0, 5):
    print(x)

0
1
2
3
4

In [5]:
x
# X existe en el entorno de Python

4

In [6]:
def calculadora( z , y):
    resultado = z * y
    
    return resultado

In [7]:
resultado
# resultado no existe

NameError: name 'resultado' is not defined

In [ ]:
calculadora( z = 5, y = 6)

### Metodos de las variables
Los argumentos pueden utilizar los métodos de los tipos de variables que luego las reemplazarán.

In [6]:
import numpy as np
import pandas as pd

In [9]:
edades = np.array( [15, 19, 48, 15, 17 ,61 ,78 ,79, 45])
edades = edades.reshape(3, 3)

In [10]:
notas = np.array( [11, 12, 13, 14, 15, 16, 17, 17, 18])
notas = notas.reshape(3, 3)

In [11]:
filas_edades = edades.shape[0]
clumn_edades = edades.shape[1]

In [12]:
filas_notas = notas.shape[0]
clumn_notas = notas.shape[1]

In [13]:
filas_edades == filas_notas

True

In [14]:
clumn_edades == clumn_notas

True

#### Ejemplo utilizando los métodos de Numpy

In [15]:
def igual_filas( a, b ):
    
    filas_a = a.shape[0]
    filas_b = b.shape[ 0 ]
    comparacion = filas_a == filas_b
    
    return (filas_a, filas_b)

In [16]:
notas = notas.reshape(9, 1)

In [17]:
escala = ['do', 're', 'mi']

In [18]:
def lista_vs_array( a , b, c_funcion ):
    
    resultado1 = c_funcion( b )
    resultado2 = resultado1 * a
    
    return resultado2

In [19]:
array_lenLista = lista_vs_array( edades, escala, len )

In [20]:
edades

array([[15, 19, 48],
       [15, 17, 61],
       [78, 79, 45]])

## Ejemplo de funciones que utilizan la data de casos positivos COVID-Peru

In [7]:
import pandas as pd
import io
import requests

In [8]:
def da_positivos():
    # link de la data de positivos covid
    url = "https://cloud.minsa.gob.pe/s/Y8w3wHsEdYQSZRp/download"
    # guardando la data positivos covid
    csv_url = requests.get( url ).content
    
    # transformando de csv a dataframe
    data = pd.read_csv( io.StringIO( csv_url.decode( 'utf-8' ) ) , delimiter = ";")
    
    # Toma el año, mes y día
    data['year'] = data['FECHA_RESULTADO'].astype(str).str[:4]
    data['mes'] = data['FECHA_RESULTADO'].astype(str).str[4:6]
    data['day'] = data['FECHA_RESULTADO'].astype(str).str[6:8]
    
    # Eliminar data vacia en la variable FECHA_RESULTADO
    data = data[ data[ 'year' ] != 'nan']
    
    # Agrupa por departamento y año
    data1 = data.groupby(['DEPARTAMENTO', 'year'])[['UUID']].count().rename(columns = {'UUID':'Casos por year'} )
    
    return data1

In [9]:
casos_year_covid_peru = da_positivos()

In [10]:
casos_year_covid_peru

                    Casos por year
DEPARTAMENTO  year
AMAZONAS      2020           18562
              2021            6781
ANCASH        2020           31065
              2021           28070
APURIMAC      2020            7678
              2021           10129
AREQUIPA      2020           48553
              2021           21778
AYACUCHO      2020           15371
              2021           10024
CAJAMARCA     2020           25468
              2021           23063
CALLAO        2020           43680
              2021           45555
CUSCO         2020           25501
              2021           25849
HUANCAVELICA  2020            7923
              2021            4559
HUANUCO       2020           20666
              2021            8434
ICA           2020           32219
              2021           15151
JUNIN         2020           28511
              2021           29790
LA LIBERTAD   2020           37697
              2021           24681
LAMBAYEQUE    2020           33574
              2021           13988
LIMA          2020          419509
              2021          323989
LIMA REGION   2020           32871
              2021           26027
LORETO        2020           26505
              2021           11424
MADRE DE DIOS 2020            9616
              2021            2941
MOQUEGUA      2020           16146
              2021            6622
PASCO         2020            6658
              2021            5749
PIURA         2020           43680
              2021           23090
PUNO          2020           19454
              2021            8437
SAN MARTIN    2020           26012
              2021           12655
TACNA         2020           14809
              2021            8113
TUMBES        2020            9533
              2021            5163
UCAYALI       2020           20578
              2021            8682

## Ejemplo de función que abrirá un diccionario

### Llamando a un diccionario

In [5]:
dictionary_places = open( r"..\..\data\places_result", "rb")
places_result = pickle.load( dictionary_places )

In [36]:
datas = pd.DataFrame( columns = ['Institucion','latitude','Longitud'] )

In [37]:
resultados = places_result['results']

In [40]:
for fila in range( 0 , len( resultados ) ):
    
    datas.loc[fila] = [resultados[ fila ]['name'], \
                       resultados[ fila ]['geometry']['location']['lat'], \
                       resultados[ fila ]['geometry']['location']['lng']]

In [ ]:
datas

In [ ]:
# Lista
resultados = places_result['results']

# Como acceder a cada a la informacion que queremos
# resultados[ 0 ]['name']
# resultados[ 0 ]['geometry']['location']['lat']
# resultados[ 0 ]['geometry']['location']['lng']

# Listas
# latitudes = []
# longitudes = []
# instituciones = []


# loop para guardar cada uno de los elementos
for fila in range( 0 , len( resultados ) ):
    # latitude
    lat = resultados[ fila ]['geometry']['location']['lat']
    
    # Longitude
    lng = resultados[ fila ]['geometry']['location']['lng']
    
    # nombre de la institucion
    institucion = resultados[ fila ]['name']
    
    # Save results
    latitudes.append( lat )
    longitudes.append( lng )
    instituciones.append( institucion )


# # Diccionario
# NIMC = { 'Instituciones': instituciones, 'Latitud' : latitudes, 'Longitud' : longitudes }
# # Dataframe
# NIMC_DF = pd.DataFrame( NIMC )

## Valores de los argumentos

In [68]:
def dict_tabla( diccionario, retorno = 'resultado_diccionario'):
    
    # Lista
    resultados = diccionario['results']
    
    # Listas
    latitudes = []
    longitudes = []
    instituciones = []
    
    for fila in range( 0 , len( resultados ) ):
        # latitude
        lat = resultados[ fila ]['geometry']['location']['lat']

        # Longitude
        lng = resultados[ fila ]['geometry']['location']['lng']

        # nombre de la institucion
        institucion = resultados[ fila ]['name']

        # Save results
        latitudes.append( lat )
        longitudes.append( lng )
        instituciones.append( institucion )
        
    # Diccionario
    NIMC = { 'Instituciones': instituciones, 'Latitud' : latitudes, 'Longitud' : longitudes }
    # Dataframe
    NIMC_DF = pd.DataFrame( NIMC )
    
    
    
    
    if retorno == 'resultado_dataframe':
        return NIMC_DF
    elif retorno == 'resultado_listas':
        return [instituciones, latitudes, longitudes]
    elif retorno == 'resultado_diccionario':
        return NIMC
    else:
        return 'No hay nada'

In [63]:
listas = ['hola']

In [69]:
dict_tabla( places_result , retorno = 'Gato' )

'No hay nada'

In [62]:
ab

NameError: name 'ab' is not defined

In [55]:
url = "https://cloud.minsa.gob.pe/s/Y8w3wHsEdYQSZRp/download"
# guardando la data positivos covid
csv_url = requests.get( url ).content

In [58]:
pd.read_csv( io.StringIO( csv_url.decode( 'utf-8' ) ) , delimiter = "hola")

<ipython-input-58-56ec561ddb87>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  pd.read_csv( io.StringIO( csv_url.decode( 'utf-8' ) ) , delimiter = "hola")

        FECHA_CORTE;UUID;DEPARTAMENTO;PROVINCIA;DISTRITO;METODODX;EDAD;SEXO;FECHA_RESULTADO
0        20210320;7320cabdc1aaca6c59014cae76a134e6;LIMA...
1        20210320;e81602051997ace8340bb8c18fe24c65;APUR...
2        20210320;cecdbf10074dbc011ae05b3cbd320a6f;APUR...
3        20210320;71ecb6bccb248b0bb2ac72ed51b5e979;APUR...
4        20210320;566af4276cbe9359abe93f9aa86396c3;APUR...
...                                                    ...
1466321  20210320;67c6b7adbb696c1dfcd52bcad58eb217;AMAZ...
1466322  20210320;6d676a0d76ef2143abc92abddaa72b9e;AMAZ...
1466323  20210320;511e467b0dc5fdbf8429d33965888fe8;LORE...
1466324  20210320;bafc26011d0471f2e926ea1bf454a958;LORE...
1466325  20210320;4e6e12bc52773a2479a4b3b4a50a6a9d;SAN ...

[1466326 rows x 1 columns]

In [14]:
tabla_final = dict_tabla( places_result )

In [15]:
tabla_final

                                        Instituciones    Latitud  Longitud
0             National Identity Management Commission   9.065977  7.454961
1        National Identity Management Commission NIMC   8.505730  8.531775
2      National Identity Management Commission (Nimc)   8.450151  4.542503
3             National Identity Management Commission   9.058854  7.468078
4      National Identity Management Commission (Nimc)   9.895973  8.931434
5             National Identity Management Commission   9.892295  8.917566
6             National Identity Management Commission   9.857233  7.967972
7      National Identity Management Commission (Nimc)   7.711656  8.526523
8      National Identity Management Commission (Nimc)  10.310332  9.826602
9             National Identity Management Commission  11.989994  8.489165
10     National Identity Management Commission (Nimc)  10.592473  7.449456
11                National Identity Management Center   5.471781  7.008344
12     National Identity Management Commission (Nimc)   9.076770  7.493777
13  National Identity Management Commision (NIMC) ...   6.617086  3.357951
14            National Identity Management Commission   6.460106  7.579009
15  National Identity Management Commission, North...  10.543617  7.460988
16     National Identity Management Commission (Nimc)  11.988203  8.496804
17    National Identity Management Commission Umuahia   5.502502  7.517956
18            National Identity Management Commission   4.822006  7.007972
19       National Identity Management Commission Nimc   4.849608  7.052736

In [ ]:
lat = places_result['results'][ 0 ]['geometry']['location']['lat']

lng = places_result[ 'results' ][ 0 ]['geometry']['location']['lng']

### Definiendo una función

In [ ]:
for obs in range( 0, len(resultados) ):
    
    solucion.loc[ resultados.index(obs) ] = [resultados[ obs ]['name'], resultados[ obs ]['geometry']['location']['lat'], resultados[ obs ]['geometry']['location']['lng'] ]
    
    print(resultados[ obs ]['name'])

    print(resultados[ obs ]['geometry']['location']['lat'])

    print(resultados[ obs ]['geometry']['location']['lng'], "\n")

In [ ]:
# Getting information from dictionaries

def places_frame( map_place_dict ):
    
    latitude = []
    longitud = []
    name_inst = []
    address = []
    
    results = len( map_place_dict[ 'results' ] )
    
    for rest in range( 0 , results ):
        
        lat = map_place_dict[ 'results' ][ rest ]['geometry']['location']['lat']
        latitude.append( lat )
        
        long = map_place_dict[ 'results' ][ rest ]['geometry']['location']['lng']
        longitud.append( long )
        
        name = map_place_dict[ 'results' ][ rest ][ 'name' ]
        name_inst.append( name )
        
        adrs = map_place_dict[ 'results' ][ rest ][ 'formatted_address' ]
        address.append( adrs )
        
    
    data_frame = pd.DataFrame( { 'Institution' : name_inst, 'Location_Addres' : address , 'Latitude' : latitude ,'Longitud' : longitud } )
        
    return data_frame

In [ ]:
places_frame( places_result )