In [24]:
# ESte paquete se utiliza para traer imágenes.
from IPython.display import display, Image

In [25]:
import pandas as pd
import numpy as np

# For Loop
Es el segundo tipo de loops. Este ejecuta todo un codigo un número específico de veces. Además, puede tomar elementos directamente de una lista, numpy o serie.

<img src="../../0_Imagenes\for-loop-python.jpg">

In [30]:
secuencia = np.array( [15, 20, 25, 30 , 35 , 40 , 48 ] )

In [35]:
i = 0

In [36]:
for elemento in secuencia:
    print( elemento )
    i = i + 1

15
20
25
30
35
40
48

In [39]:
edades_salones = [ [11, 12, 11] , [15, 16, 16] , [17, 17, 18]]

In [41]:
for edad_clase in edades_salones:
    print( type(edad_clase) )

<class 'list'>
<class 'list'>
<class 'list'>

In [38]:
edades = [ 21, 23, 25, 24, 20]

In [40]:
for age in edades:
    print( type(age) )

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
age = 21

## For Loop Anidado

In [ ]:
edades_salones = [ [11, 12, 11] , [15, 16, 16] , [17, 17, 18]]

In [43]:
for clase in edades_salones:
    print( clase )
    
    for edad in clase:
        print( edad )

[11, 12, 11]
11
12
11
[15, 16, 16]
15
16
16
[17, 17, 18]
17
17
18

In [46]:
matrix_2 = np.arange( 1, 5 )

In [48]:
matrix_2 = matrix_2.reshape(2, 2)

In [49]:
matrix_2

array([[1, 2],
       [3, 4]])

## Guardar outputs de los for loops en listas

In [60]:
todos_los_elementos_matrix = []

In [61]:
for fila in matrix_2:
    print( fila )
    
    for elemento in fila:
        todos_los_elementos_matrix.append( elemento )

[1 2]
[3 4]

In [62]:
todos_los_elementos_matrix

[1, 2, 3, 4]

In [63]:
conjunto_de_elementos = np.array( [15, 20, 25, 30 , 35 , 40 , 48 ] )

In [64]:
conjunto_de_elementos_cuadrados = [ ]

In [65]:
for elemento in conjunto_de_elementos:
    conjunto_de_elementos_cuadrados.append( elemento ** 2 )

In [66]:
conjunto_de_elementos_cuadrados

[225, 400, 625, 900, 1225, 1600, 2304]

## For loop en un rango

In [23]:
# secuencia
estudiantes = [ 'Miguel' , 'Anthony', 'Paul', 'Rodrigo', 'Jason' ]

In [68]:
# Edades
edades = [ 20, 18, 15, 20, 22]

In [74]:
for indice in range( 0, len(estudiantes) ):
    print( f'La edad de { estudiantes[ indice ] } es { edades[ indice ] }')

La edad de Miguel es 20
La edad de Anthony es 18
La edad de Paul es 15
La edad de Rodrigo es 20
La edad de Jason es 22

## For loop  y ZIP

In [23]:
# secuencia
estudiantes = [ 'Miguel' , 'Anthony', 'Paul', 'Rodrigo', 'Jason' ]

In [68]:
# Edades
edades = [ 20, 18, 15, 20, 22]

In [83]:
for student, age in zip( estudiantes , edades ):
    print(f'La edad de { student } es { age }')

La edad de Miguel es 20
La edad de Anthony es 18
La edad de Paul es 15
La edad de Rodrigo es 20
La edad de Jason es 22

### Diferentes dimensiones

In [87]:
# secuencia
estudiantes = [ 'Miguel' , 'Anthony', 'Paul', 'Rodrigo', 'Jason' ]

# Edades
edades = [ 20, 18, 15, 20 ]

In [88]:
for student, age in zip( estudiantes , edades ):
    print(f'La edad de { student } es { age }')

La edad de Miguel es 20
La edad de Anthony es 18
La edad de Paul es 15
La edad de Rodrigo es 20

In [89]:
alumnos = [ 'Miguel' , 'Anthony', 'Paul', 'Rodrigo', 'Jason' ]
notas = [ 15, 16, 20, 20, 18 ]

In [90]:
for alumno, nota in zip(alumnos, notas):
    print( f"La nota de {alumno} es {nota}.")

La nota de Miguel es 15.
La nota de Anthony es 16.
La nota de Paul es 20.
La nota de Rodrigo es 20.
La nota de Jason es 18.

## Ejercicio

In [119]:
production_fish = pd.read_csv( r"..\..\data\production_fish.csv" )

In [120]:
production_fish.head(3)

,year,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo,total_production
0,2005,8628.396,13.537,9.021,23.279000,235.630000,9.877000,25.71100,20.481000,0.16500,1.843080,56.167940,5.875600,0.430000,9030.413620
1,2006,5891.838,14.714,11.295,25.189000,365.729000,11.336000,58.24500,122.904000,0.04800,4.048000,136.827000,3.166000,1.584000,6646.923000
2,2007,6084.713,19.937,13.548,28.358488,379.556594,3.713293,26.24874,82.910307,0.00102,4.822991,134.887316,9.317622,2.834958,6790.849328

In [121]:
col_names = production_fish.columns.to_list()[ 1:-1 ]

In [122]:
for col in col_names:
    production_fish[ f'%_{col}' ]  = production_fish[ f'{col}' ] * 100 / production_fish[ 'total_production' ]

In [126]:
production_fish.loc[:, col_names ].round( 2 )

,Consumo Industrial - Anchoveta,Consumo Humano - Congelado - Concha de abanico,Consumo Humano - Congelado - Langostino,Consumo Humano - Congelado - Merluza,Consumo Humano - Congelado - Calamar gigante,Consumo Humano - Conservas - Atún,Consumo Humano - Conservas - Caballa,Consumo Humano - Conservas - Jurel,Consumo Humano - Conservas - Sardina,Consumo Humano - Fresco - Concha de abanico,Consumo Humano - Fresco - Jurel,Consumo Humano - Fresco - Liza,Consumo Humano - Fresco - Tollo
0,8628.40,13.54,9.02,23.28,235.63,9.88,25.71,20.48,0.16,1.84,56.17,5.88,0.43
1,5891.84,14.71,11.30,25.19,365.73,11.34,58.24,122.90,0.05,4.05,136.83,3.17,1.58
2,6084.71,19.94,13.55,28.36,379.56,3.71,26.25,82.91,0.00,4.82,134.89,9.32,2.83
3,6159.39,18.79,12.82,26.35,484.16,3.28,47.69,58.86,0.00,0.83,80.09,14.51,2.93
4,5828.64,24.63,11.88,36.77,355.11,2.02,51.36,14.29,0.00,1.84,47.08,17.31,4.06
5,3330.41,60.00,14.48,25.65,327.57,9.18,9.73,5.77,0.00,2.82,10.40,9.71,4.99
6,7000.09,92.03,23.38,28.54,373.20,6.59,20.48,83.28,0.05,0.87,72.96,12.12,5.69
7,3693.87,38.93,22.71,21.05,457.07,1.12,9.98,43.69,0.09,0.74,72.93,17.16,4.24
8,4754.12,89.29,19.11,31.19,410.76,7.14,26.60,7.20,0.00,2.18,54.45,12.53,3.95
9,2255.45,52.27,21.76,30.77,465.01,4.73,29.58,8.88,0.00,0.61,46.35,12.25,5.21
10,3616.48,14.84,26.77,25.64,426.93,11.08,15.31,2.77,0.16,0.62,17.54,12.46,7.72
11,2732.73,10.09,29.25,25.80,246.12,10.88,57.68,0.41,0.01,0.58,12.47,15.76,9.45
12,3165.49,4.60,38.76,37.15,252.43,11.80,23.25,1.05,0.00,0.37,6.89,29.06,6.69
13,6072.89,36.53,31.51,34.88,319.15,18.14,24.61,14.62,0.00,1.55,14.72,23.33,3.67
14,3381.44,53.11,42.86,28.98,483.77,17.84,19.60,27.73,0.00,1.23,40.80,24.03,1.24
15,4314.56,47.00,34.52,19.84,407.38,3.84,28.41,23.48,0.00,0.62,48.12,14.99,0.54