# Google Directions API

Información tomada de [link](https://developers.google.com/maps/documentation/directions/get-directions).

## Directions API features:

**1. Buscar direcciones para varios modos de transporte, incluido el tránsito, la conducción, a pie o en bicicleta.\
2. Devuelve direcciones de varias partes mediante una serie de puntos de referencia.\
3. Especifique orígenes, destinos y puntos de referencia como cadenas de texto (por ejemplo, "Chicago, IL" o "Darwin, NT, Australia"), como ID de lugares o como coordenadas de latitud / longitud.**

La API devuelve las rutas más eficientes al calcular las direcciones. El tiempo de viaje es el factor principal optimizado, pero la API también puede tener en cuenta otros factores como la distancia, el número de giros y muchos más a la hora de decidir qué ruta es la más eficiente.

## Building your Directions API requests

**https://maps.googleapis.com/maps/api/directions/outputFormat?parameters**

### Required Parameters

1. **Origin** = The place ID, address, or textual latitude/longitude
* origin = place_id:ChIJ3S-JXmauEmsRUcIaWtf4MzE
* origin = 24+Sussex+Drive+Ottawa+ON
* origin = 41.43206,-81.38992

2. **Destination** = The place ID, address, or textual latitude/longitude (Todo lo mismo)
3. **key** = Que ya debieron conseguir!!!

### OPTIONAL Parameters (los que más he usado)
1. mode = driving, walking, bicycling, transit 
2. language
3. region 
4. departure_time = tienen que especificar la fecha en *segundos*  [seconds_converter](https://www.epochconverter.com/)
5. traffic_model = best_guess, pessimistic, optimistic

## Ejemplo del Request

Vamos de Toledo a Madrid!!!\
https://maps.googleapis.com/maps/api/directions/json?origin=Toledo&destination=Madrid&region=es&key=AIzaSyD_4E6Hd-fYECy3mZ4asxN23JjIstvLdoE

Qué pasa si no especificamos la región?\
https://maps.googleapis.com/maps/api/directions/json?origin=Toledo&destination=Madrid&key=AIzaSyD_4E6Hd-fYECy3mZ4asxN23JjIstvLdoE

In [78]:
# Importamos los paquetes
import pandas as pd
import os
import urllib.request, json
import csv
import numpy as np
from tqdm import tqdm_notebook as tqdm

In [79]:
# Revisamos qué tipo de ENCODING tiene nuestra data
import chardet

rawdata = open('ID_Routes_firms_gps_final.csv', 'rb').read()
result = chardet.detect(rawdata)
charenc = result['encoding']
print(charenc)

UTF-8-SIG

In [80]:
# Importamos el csv file
geodata = pd.read_csv( r'ID_Routes_firms_gps_final.csv' , delimiter = ';' , header = None , encoding = charenc)

# Cambiamos el nombre de las variables relevantes
geodata = geodata.rename( columns = {    geodata.columns[ 0 ] : 'combination', \
                                         geodata.columns[ 10 ] : 'origen', \
                                         geodata.columns[ 11 ] : 'destine', \
                                    } )
geodata

,combination,1,2,3,4,5,6,7,8,9,origen,destine
0,1,1401,261,699,1,Alpnach,Obwalden,Zürich,Zürich,NaN,"46.9380412,8.2701754","47.3768866,8.541694"
1,2,1507,261,712,1,Hergiswil (NW),Nidwalden,Zürich,Zürich,NaN,"46.9905821,8.3083735","47.3768866,8.541694"
2,3,3943,261,1347,1,Mastrils,Graubünden,Zürich,Zürich,NaN,"46.96628,9.54229","47.3768866,8.541694"
3,4,5236,261,1802,1,Collina d'Oro,Tessin,Zürich,Zürich,NaN,"45.9821607,8.917103","47.3768866,8.541694"
4,5,5192,261,1837,1,Lugano,Tessin,Zürich,Zürich,NaN,"46.0036778,8.951052","47.3768866,8.541694"
...,...,...,...,...,...,...,...,...,...,...,...,...
433,434,5635,6630,2043,2514,Ecublens (VD),Waadt,Meyrin,Meyrin,NaN,"46.5296363,6.5615252","46.2283204,6.070988"
434,435,6621,6632,2485,2516,Genève,Genf,Perly-Certoux,Perly-Certoux,NaN,"46.2043907,6.1431577","46.1553483,6.0945809"
435,436,6615,6643,2500,2527,Collex-Bossy,Genf,Vernier,Vernier,NaN,"46.2715983,6.125981","46.2122638,6.1052686"
436,437,6608,6742,2493,2567,Carouge (GE),Genf,Les Bois,Les Bois,NaN,"46.1829674,6.1378539","47.1774878,6.9052937"
437,438,6741,6742,2565,2567,Le Bémont,Jura,Les Bois,Les Bois,NaN,"46.5202721,6.678129","47.1774878,6.9052937"

In [83]:
# Por motivos pedagógicos solo trabajaremos con el 10% de la data
geodata_10p = geodata.sample(frac=0.1, replace=True, random_state=1)
geodata_10p.shape

(44, 12)

In [84]:
# Creamos tres listas para loop
combination = geodata_10p['combination'].tolist()
origen = geodata_10p['origen'].tolist()
destination = geodata_10p['destine'].tolist()

In [85]:
origen

['46.7293301,6.5323588',
 '47.41885,7.5427693',
 '46.2339777,6.0557663',
 '47.1778831,8.5912483',
 '47.181225,8.4592089',
 '46.2043907,6.1431577',
 '47.5595986,7.5885761',
 '47.0458287,8.3724158',
 '47.4910721,8.8665461',
 '46.5196535,6.6322734',
 '47.1771936,8.4271865',
 '47.19717,8.71338',
 '47.3270602,8.801356',
 '47.5595986,7.5885761',
 '47.6958897,8.6380489',
 '47.2949282,8.5644799',
 '47.4055145,9.6375563',
 '47.3971476,8.6180128',
 '46.2339777,6.0557663',
 '47.5595986,7.5885761',
 '46.2339777,6.0557663',
 '47.1914822,8.8299043',
 '47.4274949,8.394824',
 '46.9479739,7.4474468',
 '47.0577195,6.7487354',
 '47.6837423,8.6126098',
 '46.2521873,6.9469598',
 '47.47288,8.30809',
 '47.5762223,8.5219809',
 '46.5196535,6.6322734',
 '47.3665785,8.6794982',
 '47.3412096,8.5772146',
 '46.2043907,6.1431577',
 '46.4628333,6.8419192',
 '47.4867355,8.2109103',
 '47.5378697,7.5709878',
 '47.5470158,8.7087902',
 '47.47288,8.30809',
 '46.9905821,8.3083735',
 '46.2339777,6.0557663',
 '47.5709866,7.6651414',
 '46.4953291,6.3918325',
 '47.1218764,9.486948',
 '46.5196535,6.6322734']

In [86]:
# Creamos un diccionario que va a guardar la data
data_distance = {}

In [88]:
for c,o,d in tqdm(list(zip(combination,origen, destination))):
    print(c,o,d)

<ipython-input-88-96ec45d946d3>:1: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for c,o,d in tqdm(list(zip(combination,origen, destination))):

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=44.0), HTML(value='')))

38 46.7293301,6.5323588 47.4272742,8.6903376
236 47.41885,7.5427693 47.4012701,7.5156451
397 46.2339777,6.0557663 46.7484013,6.9129687
73 47.1778831,8.5912483 47.1932312,8.644027
256 47.181225,8.4592089 47.4244818,9.3767173
394 46.2043907,6.1431577 46.310046,6.1735347
204 47.5595986,7.5885761 47.4713115,7.6928374
134 47.0458287,8.3724158 47.0338792,8.425278
336 47.4910721,8.8665461 47.4884348,8.9035411
145 46.5196535,6.6322734 47.0593246,8.8019535
130 47.1771936,8.4271865 47.1244436,8.4432688
72 47.19717,8.71338 47.1932312,8.644027
238 47.3270602,8.801356 47.6958897,8.6380489
391 47.5595986,7.5885761 46.57147,6.77879
282 47.6958897,8.6380489 46.7823704,9.6799111
179 47.2949282,8.5644799 47.100183,8.5162335
277 47.4055145,9.6375563 47.4055145,9.6375563
255 47.3971476,8.6180128 47.4244818,9.3767173
358 46.2339777,6.0557663 46.7265588,6.8955942
403 47.5595986,7.5885761 46.9899874,6.9292732
396 46.2339777,6.0557663 46.71921,6.89887
253 47.1914822,8.8299043 47.45371,9.55054
157 47.4274949,8.394824 46.9905821,8.3083735
414 46.9479739,7.4474468 46.2043907,6.1431577
399 47.0577195,6.7487354 46.7784736,6.641183
51 47.6837423,8.6126098 47.6700922,8.6362791
69 46.2521873,6.9469598 47.3982611,8.448795
216 47.47288,8.30809 47.5378697,7.5709878
242 47.5762223,8.5219809 48.8508157,10.4894906
353 46.5196535,6.6322734 46.5191267,6.6789123
87 47.3665785,8.6794982 46.9479739,7.4474468
142 47.3412096,8.5772146 47.2064107,8.7565933
394 46.2043907,6.1431577 46.310046,6.1735347
8 46.4628333,6.8419192 47.3768866,8.541694
320 47.4867355,8.2109103 47.4869944,8.2918057
318 47.5378697,7.5709878 47.4869944,8.2918057
23 47.5470158,8.7087902 47.685357,8.6294367
314 47.47288,8.30809 47.1659772,8.3944487
2 46.9905821,8.3083735 47.3768866,8.541694
385 46.2339777,6.0557663 46.6997998,6.8814659
317 47.5709866,7.6651414 47.4869944,8.2918057
210 46.4953291,6.3918325 47.5848274,7.6499111
265 47.1218764,9.486948 47.2039131,9.4413218
217 46.5196535,6.6322734 47.5378697,7.5709878

In [89]:
# Este loop genera informacion acerca de las distancias

for c,o,d in tqdm(list(zip(combination,origen, destination))):
    try:
        # Google MapsDdirections API endpoint
        endpoint = 'https://maps.googleapis.com/maps/api/directions/json?'

    ## Parametros fijos
        # Parametros que vamos a utilizar
        traffic_model = 'best_guess'  

        # Departure time
        departure_time= 'now'

        # driving, walking, biclycling, transit
        mode = 'driving'

        # key
        api_key = 'AIzaSyD_4E6Hd-fYECy3mZ4asxN23JjIstvLdoE'

        # region to look for (spain= es , germany = de , Switzerland= swiss)
        region = 'ch'

     ## Parámetros que se mueven con el loop   
        # Cuál es el origen (introduzco lat long del origen)
        origin = o
        
        # Cuál es el destino  (introduzco lat long del destino)
        destination = d
        
        #Building the URL for the request
        nav_request = 'origin={}&destination={}&departure_time={}&traffic_model={}&mode={}&region={}&key={}'.format(origin , 
                        destination , departure_time , traffic_model , mode, region, api_key)
        
        # https://maps.googleapis.com/maps/api/directions/json?origin=Toledo&destination=Madrid&region=es&key=AIzaSyD_4E6Hd-fYECy3mZ4asxN23JjIstvLdoE
        
        
        # "sumar" strings para construir el request
        request = endpoint + nav_request

        #Sends the request and reads the response.
        response = urllib.request.urlopen(request).read()

        #Loads response as JSON
        directions = json.loads(response)
        #print(json.dumps(directions, indent = 2))

        legs = directions['routes'][0]['legs'][0]
        my_keys = ['distance', 'duration', 'duration_in_traffic']
        info = { my_key: legs[my_key] for my_key in my_keys }
        
        data_distance[c] = info 
    
    except Exception as e:
        
        data_distance[c] = {'distance': {'text': 'nan', 'value': 0}, 'duration': {'text': 'nan', 'value': 0}, 'duration_in_traffic': {'text': 'nan', 'value': 0}}
        print(c)

<ipython-input-89-bf1772cf1569>:3: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for c,o,d in tqdm(list(zip(combination,origen, destination))):

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=44.0), HTML(value='')))

179
403

In [90]:
print(info)

{'distance': {'text': '199 km', 'value': 198971}, 'duration': {'text': '2 hours 12 mins', 'value': 7942}, 'duration_in_traffic': {'text': '2 hours 11 mins', 'value': 7846}}

In [91]:
print(data_distance)

{38: {'distance': {'text': '219 km', 'value': 219426}, 'duration': {'text': '2 hours 19 mins', 'value': 8368}, 'duration_in_traffic': {'text': '2 hours 20 mins', 'value': 8421}}, 236: {'distance': {'text': '3.8 km', 'value': 3780}, 'duration': {'text': '5 mins', 'value': 313}, 'duration_in_traffic': {'text': '5 mins', 'value': 295}}, 397: {'distance': {'text': '103 km', 'value': 103394}, 'duration': {'text': '1 hour 17 mins', 'value': 4620}, 'duration_in_traffic': {'text': '1 hour 14 mins', 'value': 4431}}, 73: {'distance': {'text': '7.9 km', 'value': 7912}, 'duration': {'text': '9 mins', 'value': 551}, 'duration_in_traffic': {'text': '9 mins', 'value': 517}}, 256: {'distance': {'text': '125 km', 'value': 124641}, 'duration': {'text': '1 hour 21 mins', 'value': 4883}, 'duration_in_traffic': {'text': '1 hour 21 mins', 'value': 4862}}, 394: {'distance': {'text': '12.8 km', 'value': 12765}, 'duration': {'text': '24 mins', 'value': 1466}, 'duration_in_traffic': {'text': '20 mins', 'value': 1171}}, 204: {'distance': {'text': '25.7 km', 'value': 25698}, 'duration': {'text': '28 mins', 'value': 1674}, 'duration_in_traffic': {'text': '24 mins', 'value': 1426}}, 134: {'distance': {'text': '13.6 km', 'value': 13566}, 'duration': {'text': '18 mins', 'value': 1065}, 'duration_in_traffic': {'text': '16 mins', 'value': 942}}, 336: {'distance': {'text': '3.6 km', 'value': 3592}, 'duration': {'text': '5 mins', 'value': 306}, 'duration_in_traffic': {'text': '5 mins', 'value': 293}}, 145: {'distance': {'text': '275 km', 'value': 274598}, 'duration': {'text': '3 hours 4 mins', 'value': 11050}, 'duration_in_traffic': {'text': '3 hours 7 mins', 'value': 11194}}, 130: {'distance': {'text': '7.8 km', 'value': 7837}, 'duration': {'text': '11 mins', 'value': 640}, 'duration_in_traffic': {'text': '9 mins', 'value': 569}}, 72: {'distance': {'text': '6.8 km', 'value': 6845}, 'duration': {'text': '11 mins', 'value': 656}, 'duration_in_traffic': {'text': '10 mins', 'value': 607}}, 238: {'distance': {'text': '58.0 km', 'value': 57960}, 'duration': {'text': '45 mins', 'value': 2711}, 'duration_in_traffic': {'text': '44 mins', 'value': 2627}}, 391: {'distance': {'text': '178 km', 'value': 177990}, 'duration': {'text': '2 hours 1 min', 'value': 7238}, 'duration_in_traffic': {'text': '2 hours 0 mins', 'value': 7229}}, 282: {'distance': {'text': '184 km', 'value': 184160}, 'duration': {'text': '2 hours 35 mins', 'value': 9320}, 'duration_in_traffic': {'text': '2 hours 35 mins', 'value': 9315}}, 179: {'distance': {'text': 'nan', 'value': 0}, 'duration': {'text': 'nan', 'value': 0}, 'duration_in_traffic': {'text': 'nan', 'value': 0}}, 277: {'distance': {'text': '1 m', 'value': 0}, 'duration': {'text': '1 min', 'value': 0}, 'duration_in_traffic': {'text': '1 min', 'value': 0}}, 255: {'distance': {'text': '79.8 km', 'value': 79819}, 'duration': {'text': '54 mins', 'value': 3244}, 'duration_in_traffic': {'text': '55 mins', 'value': 3286}}, 358: {'distance': {'text': '102 km', 'value': 101776}, 'duration': {'text': '1 hour 16 mins', 'value': 4564}, 'duration_in_traffic': {'text': '1 hour 13 mins', 'value': 4381}}, 403: {'distance': {'text': 'nan', 'value': 0}, 'duration': {'text': 'nan', 'value': 0}, 'duration_in_traffic': {'text': 'nan', 'value': 0}}, 396: {'distance': {'text': '103 km', 'value': 103194}, 'duration': {'text': '1 hour 17 mins', 'value': 4615}, 'duration_in_traffic': {'text': '1 hour 14 mins', 'value': 4432}}, 253: {'distance': {'text': '120 km', 'value': 120317}, 'duration': {'text': '1 hour 18 mins', 'value': 4689}, 'duration_in_traffic': {'text': '1 hour 20 mins', 'value': 4808}}, 157: {'distance': {'text': '70.3 km', 'value': 70302}, 'duration': {'text': '49 mins', 'value': 2945}, 'duration_in_traffic': {'text': '47 mins', 'value': 2847}}, 414: {'distance': {'text': '159 km', 'value': 159050}, 'duration': {'text': '1 hour 51 mins', 'value': 6676}, 'duration_in_traffic': {'text': '1 hour 45 mins', 'value': 6303}}, 399: {'distance': {'text': '63.6 km', 'value': 63621}, 'duration': {'text': '55 mins', 'value': 3291}, 'duration_in_traffic': {'text': '53 mins', 'value': 3182}}, 51: {'distance': {'text': '6.6 km', 'value': 6569}, 'duration': {'text': '8 mins', 'value': 494}, 'duration_in_traffic': {'text': '8 mins', 'value': 450}}, 69: {'distance': {'text': '226 km', 'value': 226018}, 'duration': {'text': '2 hours 24 mins', 'value': 8656}, 'duration_in_traffic': {'text': '2 hours 26 mins', 'value': 8730}}, 216: {'distance': {'text': '64.3 km', 'value': 64294}, 'duration': {'text': '51 mins', 'value': 3068}, 'duration_in_traffic': {'text': '46 mins', 'value': 2772}}, 242: {'distance': {'text': '306 km', 'value': 305628}, 'duration': {'text': '3 hours 31 mins', 'value': 12686}, 'duration_in_traffic': {'text': '3 hours 30 mins', 'value': 12600}}, 353: {'distance': {'text': '5.6 km', 'value': 5551}, 'duration': {'text': '12 mins', 'value': 727}, 'duration_in_traffic': {'text': '10 mins', 'value': 585}}, 87: {'distance': {'text': '138 km', 'value': 138013}, 'duration': {'text': '1 hour 35 mins', 'value': 5722}, 'duration_in_traffic': {'text': '1 hour 33 mins', 'value': 5607}}, 142: {'distance': {'text': '36.2 km', 'value': 36196}, 'duration': {'text': '38 mins', 'value': 2261}, 'duration_in_traffic': {'text': '31 mins', 'value': 1868}}, 8: {'distance': {'text': '206 km', 'value': 206212}, 'duration': {'text': '2 hours 17 mins', 'value': 8241}, 'duration_in_traffic': {'text': '2 hours 18 mins', 'value': 8261}}, 320: {'distance': {'text': '9.4 km', 'value': 9375}, 'duration': {'text': '15 mins', 'value': 898}, 'duration_in_traffic': {'text': '13 mins', 'value': 751}}, 318: {'distance': {'text': '66.5 km', 'value': 66531}, 'duration': {'text': '55 mins', 'value': 3293}, 'duration_in_traffic': {'text': '46 mins', 'value': 2786}}, 23: {'distance': {'text': '21.9 km', 'value': 21899}, 'duration': {'text': '19 mins', 'value': 1110}, 'duration_in_traffic': {'text': '17 mins', 'value': 1030}}, 314: {'distance': {'text': '49.0 km', 'value': 49032}, 'duration': {'text': '37 mins', 'value': 2198}, 'duration_in_traffic': {'text': '33 mins', 'value': 2009}}, 2: {'distance': {'text': '58.1 km', 'value': 58099}, 'duration': {'text': '43 mins', 'value': 2581}, 'duration_in_traffic': {'text': '40 mins', 'value': 2372}}, 385: {'distance': {'text': '101 km', 'value': 100778}, 'duration': {'text': '1 hour 15 mins', 'value': 4497}, 'duration_in_traffic': {'text': '1 hour 12 mins', 'value': 4298}}, 317: {'distance': {'text': '68.6 km', 'value': 68632}, 'duration': {'text': '56 mins', 'value': 3369}, 'duration_in_traffic': {'text': '49 mins', 'value': 2910}}, 210: {'distance': {'text': '215 km', 'value': 214860}, 'duration': {'text': '2 hours 19 mins', 'value': 8368}, 'duration_in_traffic': {'text': '2 hours 21 mins', 'value': 8463}}, 265: {'distance': {'text': '10.8 km', 'value': 10754}, 'duration': {'text': '15 mins', 'value': 891}, 'duration_in_traffic': {'text': '13 mins', 'value': 805}}, 217: {'distance': {'text': '199 km', 'value': 198971}, 'duration': {'text': '2 hours 12 mins', 'value': 7942}, 'duration_in_traffic': {'text': '2 hours 11 mins', 'value': 7846}}}

In [92]:
e = pd.DataFrame.from_dict(data_distance , orient='index')

In [93]:
e.index = e.index.astype(int)
e = e.sort_index()
e

,distance,duration,duration_in_traffic
2,"{'text': '58.1 km', 'value': 58099}","{'text': '43 mins', 'value': 2581}","{'text': '40 mins', 'value': 2372}"
8,"{'text': '206 km', 'value': 206212}","{'text': '2 hours 17 mins', 'value': 8241}","{'text': '2 hours 18 mins', 'value': 8261}"
23,"{'text': '21.9 km', 'value': 21899}","{'text': '19 mins', 'value': 1110}","{'text': '17 mins', 'value': 1030}"
38,"{'text': '219 km', 'value': 219426}","{'text': '2 hours 19 mins', 'value': 8368}","{'text': '2 hours 20 mins', 'value': 8421}"
51,"{'text': '6.6 km', 'value': 6569}","{'text': '8 mins', 'value': 494}","{'text': '8 mins', 'value': 450}"
69,"{'text': '226 km', 'value': 226018}","{'text': '2 hours 24 mins', 'value': 8656}","{'text': '2 hours 26 mins', 'value': 8730}"
72,"{'text': '6.8 km', 'value': 6845}","{'text': '11 mins', 'value': 656}","{'text': '10 mins', 'value': 607}"
73,"{'text': '7.9 km', 'value': 7912}","{'text': '9 mins', 'value': 551}","{'text': '9 mins', 'value': 517}"
87,"{'text': '138 km', 'value': 138013}","{'text': '1 hour 35 mins', 'value': 5722}","{'text': '1 hour 33 mins', 'value': 5607}"
130,"{'text': '7.8 km', 'value': 7837}","{'text': '11 mins', 'value': 640}","{'text': '9 mins', 'value': 569}"
134,"{'text': '13.6 km', 'value': 13566}","{'text': '18 mins', 'value': 1065}","{'text': '16 mins', 'value': 942}"
142,"{'text': '36.2 km', 'value': 36196}","{'text': '38 mins', 'value': 2261}","{'text': '31 mins', 'value': 1868}"
145,"{'text': '275 km', 'value': 274598}","{'text': '3 hours 4 mins', 'value': 11050}","{'text': '3 hours 7 mins', 'value': 11194}"
157,"{'text': '70.3 km', 'value': 70302}","{'text': '49 mins', 'value': 2945}","{'text': '47 mins', 'value': 2847}"
179,"{'text': 'nan', 'value': 0}","{'text': 'nan', 'value': 0}","{'text': 'nan', 'value': 0}"
204,"{'text': '25.7 km', 'value': 25698}","{'text': '28 mins', 'value': 1674}","{'text': '24 mins', 'value': 1426}"
210,"{'text': '215 km', 'value': 214860}","{'text': '2 hours 19 mins', 'value': 8368}","{'text': '2 hours 21 mins', 'value': 8463}"
216,"{'text': '64.3 km', 'value': 64294}","{'text': '51 mins', 'value': 3068}","{'text': '46 mins', 'value': 2772}"
217,"{'text': '199 km', 'value': 198971}","{'text': '2 hours 12 mins', 'value': 7942}","{'text': '2 hours 11 mins', 'value': 7846}"
236,"{'text': '3.8 km', 'value': 3780}","{'text': '5 mins', 'value': 313}","{'text': '5 mins', 'value': 295}"
238,"{'text': '58.0 km', 'value': 57960}","{'text': '45 mins', 'value': 2711}","{'text': '44 mins', 'value': 2627}"
242,"{'text': '306 km', 'value': 305628}","{'text': '3 hours 31 mins', 'value': 12686}","{'text': '3 hours 30 mins', 'value': 12600}"
253,"{'text': '120 km', 'value': 120317}","{'text': '1 hour 18 mins', 'value': 4689}","{'text': '1 hour 20 mins', 'value': 4808}"
255,"{'text': '79.8 km', 'value': 79819}","{'text': '54 mins', 'value': 3244}","{'text': '55 mins', 'value': 3286}"
256,"{'text': '125 km', 'value': 124641}","{'text': '1 hour 21 mins', 'value': 4883}","{'text': '1 hour 21 mins', 'value': 4862}"
265,"{'text': '10.8 km', 'value': 10754}","{'text': '15 mins', 'value': 891}","{'text': '13 mins', 'value': 805}"
277,"{'text': '1 m', 'value': 0}","{'text': '1 min', 'value': 0}","{'text': '1 min', 'value': 0}"
282,"{'text': '184 km', 'value': 184160}","{'text': '2 hours 35 mins', 'value': 9320}","{'text': '2 hours 35 mins', 'value': 9315}"
314,"{'text': '49.0 km', 'value': 49032}","{'text': '37 mins', 'value': 2198}","{'text': '33 mins', 'value': 2009}"
317,"{'text': '68.6 km', 'value': 68632}","{'text': '56 mins', 'value': 3369}","{'text': '49 mins', 'value': 2910}"
318,"{'text': '66.5 km', 'value': 66531}","{'text': '55 mins', 'value': 3293}","{'text': '46 mins', 'value': 2786}"
320,"{'text': '9.4 km', 'value': 9375}","{'text': '15 mins', 'value': 898}","{'text': '13 mins', 'value': 751}"
336,"{'text': '3.6 km', 'value': 3592}","{'text': '5 mins', 'value': 306}","{'text': '5 mins', 'value': 293}"
353,"{'text': '5.6 km', 'value': 5551}","{'text': '12 mins', 'value': 727}","{'text': '10 mins', 'value': 585}"
358,"{'text': '102 km', 'value': 101776}","{'text': '1 hour 16 mins', 'value': 4564}","{'text': '1 hour 13 mins', 'value': 4381}"
385,"{'text': '101 km', 'value': 100778}","{'text': '1 hour 15 mins', 'value': 4497}","{'text': '1 hour 12 mins', 'value': 4298}"
391,"{'text': '178 km', 'value': 177990}","{'text': '2 hours 1 min', 'value': 7238}","{'text': '2 hours 0 mins', 'value': 7229}"
394,"{'text': '12.8 km', 'value': 12765}","{'text': '24 mins', 'value': 1466}","{'text': '20 mins', 'value': 1171}"
396,"{'text': '103 km', 'value': 103194}","{'text': '1 hour 17 mins', 'value': 4615}","{'text': '1 hour 14 mins', 'value': 4432}"
397,"{'text': '103 km', 'value': 103394}","{'text': '1 hour 17 mins', 'value': 4620}","{'text': '1 hour 14 mins', 'value': 4431}"
399,"{'text': '63.6 km', 'value': 63621}","{'text': '55 mins', 'value': 3291}","{'text': '53 mins', 'value': 3182}"
403,"{'text': 'nan', 'value': 0}","{'text': 'nan', 'value': 0}","{'text': 'nan', 'value': 0}"
414,"{'text': '159 km', 'value': 159050}","{'text': '1 hour 51 mins', 'value': 6676}","{'text': '1 hour 45 mins', 'value': 6303}"

In [94]:
e.shape[0]

43

In [95]:
# e = pd.DataFrame.from_dict(data_distance , orient='index')
H = np.zeros(shape=(e.shape[0],6),dtype=object)
G = np.zeros(shape=(e.shape[0],3),dtype=object)
#print (e)
e.iloc[0][1]['value']
for i in range(e.shape[0]):
    for j in range(3):
        try:
            H[i][j]=e.iloc[i][j]['value']
            H[i][j+3]=e.iloc[i][j]['text']
        except:
            H[i][j]=0
            H[i][j+3]="nan"
print (H)

[[58099 2581 2372 '58.1 km' '43 mins' '40 mins']
 [206212 8241 8261 '206 km' '2 hours 17 mins' '2 hours 18 mins']
 [21899 1110 1030 '21.9 km' '19 mins' '17 mins']
 [219426 8368 8421 '219 km' '2 hours 19 mins' '2 hours 20 mins']
 [6569 494 450 '6.6 km' '8 mins' '8 mins']
 [226018 8656 8730 '226 km' '2 hours 24 mins' '2 hours 26 mins']
 [6845 656 607 '6.8 km' '11 mins' '10 mins']
 [7912 551 517 '7.9 km' '9 mins' '9 mins']
 [138013 5722 5607 '138 km' '1 hour 35 mins' '1 hour 33 mins']
 [7837 640 569 '7.8 km' '11 mins' '9 mins']
 [13566 1065 942 '13.6 km' '18 mins' '16 mins']
 [36196 2261 1868 '36.2 km' '38 mins' '31 mins']
 [274598 11050 11194 '275 km' '3 hours 4 mins' '3 hours 7 mins']
 [70302 2945 2847 '70.3 km' '49 mins' '47 mins']
 [0 0 0 'nan' 'nan' 'nan']
 [25698 1674 1426 '25.7 km' '28 mins' '24 mins']
 [214860 8368 8463 '215 km' '2 hours 19 mins' '2 hours 21 mins']
 [64294 3068 2772 '64.3 km' '51 mins' '46 mins']
 [198971 7942 7846 '199 km' '2 hours 12 mins' '2 hours 11 mins']
 [3780 313 295 '3.8 km' '5 mins' '5 mins']
 [57960 2711 2627 '58.0 km' '45 mins' '44 mins']
 [305628 12686 12600 '306 km' '3 hours 31 mins' '3 hours 30 mins']
 [120317 4689 4808 '120 km' '1 hour 18 mins' '1 hour 20 mins']
 [79819 3244 3286 '79.8 km' '54 mins' '55 mins']
 [124641 4883 4862 '125 km' '1 hour 21 mins' '1 hour 21 mins']
 [10754 891 805 '10.8 km' '15 mins' '13 mins']
 [0 0 0 '1 m' '1 min' '1 min']
 [184160 9320 9315 '184 km' '2 hours 35 mins' '2 hours 35 mins']
 [49032 2198 2009 '49.0 km' '37 mins' '33 mins']
 [68632 3369 2910 '68.6 km' '56 mins' '49 mins']
 [66531 3293 2786 '66.5 km' '55 mins' '46 mins']
 [9375 898 751 '9.4 km' '15 mins' '13 mins']
 [3592 306 293 '3.6 km' '5 mins' '5 mins']
 [5551 727 585 '5.6 km' '12 mins' '10 mins']
 [101776 4564 4381 '102 km' '1 hour 16 mins' '1 hour 13 mins']
 [100778 4497 4298 '101 km' '1 hour 15 mins' '1 hour 12 mins']
 [177990 7238 7229 '178 km' '2 hours 1 min' '2 hours 0 mins']
 [12765 1466 1171 '12.8 km' '24 mins' '20 mins']
 [103194 4615 4432 '103 km' '1 hour 17 mins' '1 hour 14 mins']
 [103394 4620 4431 '103 km' '1 hour 17 mins' '1 hour 14 mins']
 [63621 3291 3182 '63.6 km' '55 mins' '53 mins']
 [0 0 0 'nan' 'nan' 'nan']
 [159050 6676 6303 '159 km' '1 hour 51 mins' '1 hour 45 mins']]

In [96]:
np.savetxt(r"C:\Users\MSI-NB\Documents\GitHub\The_Code_Blinders\1_Clases\Clase_14/distance_info_1.csv", H, delimiter="," , fmt= '%10.5f,%10.5f,%10.5f,%s,%s,%s')

array([[58099, 2581, 2372, '58.1 km', '43 mins', '40 mins'],
       [206212, 8241, 8261, '206 km', '2 hours 17 mins',
        '2 hours 18 mins'],
       [21899, 1110, 1030, '21.9 km', '19 mins', '17 mins'],
       [219426, 8368, 8421, '219 km', '2 hours 19 mins',
        '2 hours 20 mins'],
       [6569, 494, 450, '6.6 km', '8 mins', '8 mins'],
       [226018, 8656, 8730, '226 km', '2 hours 24 mins',
        '2 hours 26 mins'],
       [6845, 656, 607, '6.8 km', '11 mins', '10 mins'],
       [7912, 551, 517, '7.9 km', '9 mins', '9 mins'],
       [138013, 5722, 5607, '138 km', '1 hour 35 mins', '1 hour 33 mins'],
       [7837, 640, 569, '7.8 km', '11 mins', '9 mins'],
       [13566, 1065, 942, '13.6 km', '18 mins', '16 mins'],
       [36196, 2261, 1868, '36.2 km', '38 mins', '31 mins'],
       [274598, 11050, 11194, '275 km', '3 hours 4 mins',
        '3 hours 7 mins'],
       [70302, 2945, 2847, '70.3 km', '49 mins', '47 mins'],
       [0, 0, 0, 'nan', 'nan', 'nan'],
       [25698, 1674, 1426, '25.7 km', '28 mins', '24 mins'],
       [214860, 8368, 8463, '215 km', '2 hours 19 mins',
        '2 hours 21 mins'],
       [64294, 3068, 2772, '64.3 km', '51 mins', '46 mins'],
       [198971, 7942, 7846, '199 km', '2 hours 12 mins',
        '2 hours 11 mins'],
       [3780, 313, 295, '3.8 km', '5 mins', '5 mins'],
       [57960, 2711, 2627, '58.0 km', '45 mins', '44 mins'],
       [305628, 12686, 12600, '306 km', '3 hours 31 mins',
        '3 hours 30 mins'],
       [120317, 4689, 4808, '120 km', '1 hour 18 mins', '1 hour 20 mins'],
       [79819, 3244, 3286, '79.8 km', '54 mins', '55 mins'],
       [124641, 4883, 4862, '125 km', '1 hour 21 mins', '1 hour 21 mins'],
       [10754, 891, 805, '10.8 km', '15 mins', '13 mins'],
       [0, 0, 0, '1 m', '1 min', '1 min'],
       [184160, 9320, 9315, '184 km', '2 hours 35 mins',
        '2 hours 35 mins'],
       [49032, 2198, 2009, '49.0 km', '37 mins', '33 mins'],
       [68632, 3369, 2910, '68.6 km', '56 mins', '49 mins'],
       [66531, 3293, 2786, '66.5 km', '55 mins', '46 mins'],
       [9375, 898, 751, '9.4 km', '15 mins', '13 mins'],
       [3592, 306, 293, '3.6 km', '5 mins', '5 mins'],
       [5551, 727, 585, '5.6 km', '12 mins', '10 mins'],
       [101776, 4564, 4381, '102 km', '1 hour 16 mins', '1 hour 13 mins'],
       [100778, 4497, 4298, '101 km', '1 hour 15 mins', '1 hour 12 mins'],
       [177990, 7238, 7229, '178 km', '2 hours 1 min', '2 hours 0 mins'],
       [12765, 1466, 1171, '12.8 km', '24 mins', '20 mins'],
       [103194, 4615, 4432, '103 km', '1 hour 17 mins', '1 hour 14 mins'],
       [103394, 4620, 4431, '103 km', '1 hour 17 mins', '1 hour 14 mins'],
       [63621, 3291, 3182, '63.6 km', '55 mins', '53 mins'],
       [0, 0, 0, 'nan', 'nan', 'nan'],
       [159050, 6676, 6303, '159 km', '1 hour 51 mins', '1 hour 45 mins']],
      dtype=object)