## Solución Tarea 5 - Alexander Max Tello Fuentes

#### Desarrollar una función que tome la data consumo_comedor y que me entregue tres tipos de dataframes: la totalidad de consumo y el monto total por tipo de pedido MENU ECONOMICO y DESAYUNO, me entregue la data con aquellos usuarios que no cumplen con tener un código de usuario de tamaño 4 y la cantidad de consumo por usuario dividido en el tipo de consumo.

In [2]:
import numpy as np
import pandas as pd 
from pandas import DataFrame,Series

In [191]:
consumo_comedor = pd.read_excel(r"The_Code_Blinders/data/consumo_comedor.xls").drop(['Unnamed: 1'],axis = 1)
consumo_comedor.head()

,fechaact,fechaBol,nroEmp,CodigoEmp,usuario,cantidad,Concepto,monto Total
0,2021-02-15 00:00:00,2021-02-15 12:00:47,126.0,2473.0,2473.0,1.0,MENU ECONOMICO,8
1,NaN,2021-02-15 12:03:52,147.0,3214.0,3214.0,1.0,MENU ECONOMICO,8
2,NaN,2021-02-15 12:03:57,315.0,3200.0,3200.0,1.0,MENU ECONOMICO,8
3,NaN,2021-02-15 12:04:11,322.0,3955.0,3955.0,1.0,MENU ECONOMICO,8
4,NaN,2021-02-15 12:04:29,299.0,3963.0,3963.0,1.0,MENU ECONOMICO,8

In [230]:
def consumo_comedor (retorno = 'Concepto', modo = 'DataFrame'):
    x = pd.read_excel(r"The_Code_Blinders/data/consumo_comedor.xls").drop(['Unnamed: 1'],axis = 1)
    
    if retorno == "Concepto":
        tabla = x.groupby(['Concepto'])['cantidad','monto Total'].sum()
        tabla1 = pd.DataFrame(tabla.agg(['sum']).values, columns = ['cantidad', 'monto Total'],index=['TOTAL'])
        tabla = tabla.append(tabla1)
        if modo == 'DataFrame':
            return tabla
        elif modo == 'Dic':
            return tabla.to_dict('dict')
        else:
            print('Error, inserta el MODO correcto')
    elif retorno == "Usuarios_Raros":
        tabla2 = x[(x['usuario']<1000) | (x['usuario']>9999)]
        tabla2 = tabla2[['usuario','cantidad','Concepto','monto Total']]
        if modo == 'DataFrame':
            return tabla2
        elif modo == 'Dic':
            return tabla2.to_dict('dict')
        else:
            print('Error, inserta el MODO correcto')
    elif retorno == "Por_Usuario":
        tabla3 = x.groupby(['usuario','Concepto'])['cantidad','monto Total'].sum().reset_index()
        if modo == 'DataFrame':
            return tabla3
        elif modo == 'Dic':
            return tabla3.to_dict('dict')
        else:
            print('Error, inserta el MODO correcto')
    else:
        print('Error, inserta el NOMBRE correcto')

In [231]:
consumo_comedor()

<ipython-input-230-8191ed6cd973>:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tabla = x.groupby(['Concepto'])['cantidad','monto Total'].sum()

                cantidad  monto Total
DESAYUNO           367.0       1468.0
MENU ECONOMICO    1491.0      11928.0
TOTAL             1858.0      13396.0

In [242]:
consumo_comedor('Concepto')

<ipython-input-230-8191ed6cd973>:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tabla = x.groupby(['Concepto'])['cantidad','monto Total'].sum()

                cantidad  monto Total
DESAYUNO           367.0       1468.0
MENU ECONOMICO    1491.0      11928.0
TOTAL             1858.0      13396.0

In [233]:
consumo_comedor('Concepto','Dic')

<ipython-input-230-8191ed6cd973>:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tabla = x.groupby(['Concepto'])['cantidad','monto Total'].sum()

{'cantidad': {'DESAYUNO': 367.0, 'MENU ECONOMICO': 1491.0, 'TOTAL': 1858.0},
 'monto Total': {'DESAYUNO': 1468.0,
  'MENU ECONOMICO': 11928.0,
  'TOTAL': 13396.0}}

In [235]:
consumo_comedor('Usuarios_Raros')

         usuario  cantidad        Concepto  monto Total
278          3.0       1.0  MENU ECONOMICO            8
924   21403730.0       1.0  MENU ECONOMICO            8
1624       340.0       1.0  MENU ECONOMICO            8
1699        31.0       1.0        DESAYUNO            4
1848    373957.0       1.0  MENU ECONOMICO            8

In [236]:
consumo_comedor('Usuarios_Raros','Dic')

{'usuario': {278: 3.0,
  924: 21403730.0,
  1624: 340.0,
  1699: 31.0,
  1848: 373957.0},
 'cantidad': {278: 1.0, 924: 1.0, 1624: 1.0, 1699: 1.0, 1848: 1.0},
 'Concepto': {278: 'MENU ECONOMICO',
  924: 'MENU ECONOMICO',
  1624: 'MENU ECONOMICO',
  1699: 'DESAYUNO',
  1848: 'MENU ECONOMICO'},
 'monto Total': {278: 8, 924: 8, 1624: 8, 1699: 4, 1848: 8}}

In [237]:
consumo_comedor('Por_Usuario')

<ipython-input-230-8191ed6cd973>:24: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tabla3 = x.groupby(['usuario','Concepto'])['cantidad','monto Total'].sum().reset_index()

        usuario        Concepto  cantidad  monto Total
0           3.0  MENU ECONOMICO       1.0            8
1          31.0        DESAYUNO       1.0            4
2         340.0  MENU ECONOMICO       1.0            8
3        1563.0  MENU ECONOMICO       3.0           24
4        1567.0  MENU ECONOMICO       1.0            8
..          ...             ...       ...          ...
196      7048.0  MENU ECONOMICO       2.0           16
197      7053.0  MENU ECONOMICO       1.0            8
198      8089.0  MENU ECONOMICO       1.0            8
199    373957.0  MENU ECONOMICO       1.0            8
200  21403730.0  MENU ECONOMICO       1.0            8

[201 rows x 4 columns]

In [238]:
consumo_comedor('Por_Usuario','Dic')

<ipython-input-230-8191ed6cd973>:24: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tabla3 = x.groupby(['usuario','Concepto'])['cantidad','monto Total'].sum().reset_index()

{'usuario': {0: 3.0,
  1: 31.0,
  2: 340.0,
  3: 1563.0,
  4: 1567.0,
  5: 2140.0,
  6: 2245.0,
  7: 2254.0,
  8: 2263.0,
  9: 2339.0,
  10: 2382.0,
  11: 2411.0,
  12: 2425.0,
  13: 2446.0,
  14: 2473.0,
  15: 2480.0,
  16: 2492.0,
  17: 2500.0,
  18: 2504.0,
  19: 2506.0,
  20: 2514.0,
  21: 2516.0,
  22: 2522.0,
  23: 2534.0,
  24: 2536.0,
  25: 2537.0,
  26: 2553.0,
  27: 2558.0,
  28: 2570.0,
  29: 2573.0,
  30: 2578.0,
  31: 2580.0,
  32: 2581.0,
  33: 3030.0,
  34: 3035.0,
  35: 3035.0,
  36: 3037.0,
  37: 3037.0,
  38: 3039.0,
  39: 3039.0,
  40: 3041.0,
  41: 3045.0,
  42: 3050.0,
  43: 3063.0,
  44: 3089.0,
  45: 3093.0,
  46: 3096.0,
  47: 3101.0,
  48: 3110.0,
  49: 3119.0,
  50: 3119.0,
  51: 3125.0,
  52: 3132.0,
  53: 3132.0,
  54: 3161.0,
  55: 3167.0,
  56: 3167.0,
  57: 3168.0,
  58: 3168.0,
  59: 3177.0,
  60: 3177.0,
  61: 3185.0,
  62: 3198.0,
  63: 3198.0,
  64: 3200.0,
  65: 3202.0,
  66: 3209.0,
  67: 3213.0,
  68: 3213.0,
  69: 3214.0,
  70: 3216.0,
  71: 3224.0,
  72: 3231.0,
  73: 3232.0,
  74: 3235.0,
  75: 3239.0,
  76: 3241.0,
  77: 3251.0,
  78: 3255.0,
  79: 3262.0,
  80: 3263.0,
  81: 3264.0,
  82: 3266.0,
  83: 3270.0,
  84: 3274.0,
  85: 3281.0,
  86: 3282.0,
  87: 3285.0,
  88: 3287.0,
  89: 3306.0,
  90: 3317.0,
  91: 3317.0,
  92: 3318.0,
  93: 3318.0,
  94: 3336.0,
  95: 3351.0,
  96: 3351.0,
  97: 3352.0,
  98: 3352.0,
  99: 3353.0,
  100: 3353.0,
  101: 3354.0,
  102: 3355.0,
  103: 3356.0,
  104: 3356.0,
  105: 3357.0,
  106: 3358.0,
  107: 3360.0,
  108: 3360.0,
  109: 3363.0,
  110: 3364.0,
  111: 3367.0,
  112: 3369.0,
  113: 3369.0,
  114: 3370.0,
  115: 3371.0,
  116: 3378.0,
  117: 3380.0,
  118: 3381.0,
  119: 3382.0,
  120: 3382.0,
  121: 3383.0,
  122: 3384.0,
  123: 3387.0,
  124: 3388.0,
  125: 3388.0,
  126: 3389.0,
  127: 3390.0,
  128: 3391.0,
  129: 3392.0,
  130: 3395.0,
  131: 3397.0,
  132: 3398.0,
  133: 3399.0,
  134: 3399.0,
  135: 3400.0,
  136: 3400.0,
  137: 3401.0,
  138: 3402.0,
  139: 3403.0,
  140: 3404.0,
  141: 3405.0,
  142: 3405.0,
  143: 3406.0,
  144: 3408.0,
  145: 3707.0,
  146: 3709.0,
  147: 3709.0,
  148: 3712.0,
  149: 3715.0,
  150: 3715.0,
  151: 3721.0,
  152: 3728.0,
  153: 3728.0,
  154: 3730.0,
  155: 3739.0,
  156: 3742.0,
  157: 3742.0,
  158: 3745.0,
  159: 3745.0,
  160: 3747.0,
  161: 3747.0,
  162: 3749.0,
  163: 3765.0,
  164: 3765.0,
  165: 3784.0,
  166: 3830.0,
  167: 3830.0,
  168: 3836.0,
  169: 3836.0,
  170: 3838.0,
  171: 3846.0,
  172: 3846.0,
  173: 3860.0,
  174: 3868.0,
  175: 3868.0,
  176: 3893.0,
  177: 3914.0,
  178: 3914.0,
  179: 3927.0,
  180: 3943.0,
  181: 3945.0,
  182: 3955.0,
  183: 3957.0,
  184: 3957.0,
  185: 3963.0,
  186: 3973.0,
  187: 3973.0,
  188: 3976.0,
  189: 3981.0,
  190: 3983.0,
  191: 3985.0,
  192: 3985.0,
  193: 4015.0,
  194: 7037.0,
  195: 7045.0,
  196: 7048.0,
  197: 7053.0,
  198: 8089.0,
  199: 373957.0,
  200: 21403730.0},
 'Concepto': {0: 'MENU ECONOMICO',
  1: 'DESAYUNO',
  2: 'MENU ECONOMICO',
  3: 'MENU ECONOMICO',
  4: 'MENU ECONOMICO',
  5: 'MENU ECONOMICO',
  6: 'MENU ECONOMICO',
  7: 'MENU ECONOMICO',
  8: 'MENU ECONOMICO',
  9: 'MENU ECONOMICO',
  10: 'MENU ECONOMICO',
  11: 'MENU ECONOMICO',
  12: 'MENU ECONOMICO',
  13: 'MENU ECONOMICO',
  14: 'MENU ECONOMICO',
  15: 'MENU ECONOMICO',
  16: 'MENU ECONOMICO',
  17: 'MENU ECONOMICO',
  18: 'MENU ECONOMICO',
  19: 'MENU ECONOMICO',
  20: 'MENU ECONOMICO',
  21: 'MENU ECONOMICO',
  22: 'MENU ECONOMICO',
  23: 'MENU ECONOMICO',
  24: 'MENU ECONOMICO',
  25: 'MENU ECONOMICO',
  26: 'MENU ECONOMICO',
  27: 'MENU ECONOMICO',
  28: 'MENU ECONOMICO',
  29: 'MENU ECONOMICO',
  30: 'MENU ECONOMICO',
  31: 'MENU ECONOMICO',
  32: 'MENU ECONOMICO',
  33: 'DESAYUNO',
  34: 'DESAYUNO',
  35: 'MENU ECONOMICO',
  36: 'DESAYUNO',
  37: 'MENU ECONOMICO',
  38: 'DESAYUNO',
  39: 'MENU ECONOMICO',
  40: 'MENU ECONOMICO',
  41: 'MENU ECONOMICO',
  42: 'MENU ECONOMICO',
  43: 'MENU ECONOMICO',
  44: 'MENU ECONOMICO',
  45: 'MENU ECONOMICO',
  46: 'MENU ECONOMICO',
  47: 'MENU ECONOMICO',
  48: 'MENU ECONOMICO',
  49: 'DESAYUNO',
  50: 'MENU ECONOMICO',
  51: 'MENU ECONOMICO',
  52: 'DESAYUNO',
  53: 'MENU ECONOMICO',
  54: 'MENU ECONOMICO',
  55: 'DESAYUNO',
  56: 'MENU ECONOMICO',
  57: 'DESAYUNO',
  58: 'MENU ECONOMICO',
  59: 'DESAYUNO',
  60: 'MENU ECONOMICO',
  61: 'MENU ECONOMICO',
  62: 'DESAYUNO',
  63: 'MENU ECONOMICO',
  64: 'MENU ECONOMICO',
  65: 'MENU ECONOMICO',
  66: 'MENU ECONOMICO',
  67: 'DESAYUNO',
  68: 'MENU ECONOMICO',
  69: 'MENU ECONOMICO',
  70: 'MENU ECONOMICO',
  71: 'MENU ECONOMICO',
  72: 'MENU ECONOMICO',
  73: 'MENU ECONOMICO',
  74: 'MENU ECONOMICO',
  75: 'MENU ECONOMICO',
  76: 'DESAYUNO',
  77: 'MENU ECONOMICO',
  78: 'MENU ECONOMICO',
  79: 'MENU ECONOMICO',
  80: 'MENU ECONOMICO',
  81: 'DESAYUNO',
  82: 'MENU ECONOMICO',
  83: 'MENU ECONOMICO',
  84: 'DESAYUNO',
  85: 'MENU ECONOMICO',
  86: 'MENU ECONOMICO',
  87: 'MENU ECONOMICO',
  88: 'MENU ECONOMICO',
  89: 'DESAYUNO',
  90: 'DESAYUNO',
  91: 'MENU ECONOMICO',
  92: 'DESAYUNO',
  93: 'MENU ECONOMICO',
  94: 'MENU ECONOMICO',
  95: 'DESAYUNO',
  96: 'MENU ECONOMICO',
  97: 'DESAYUNO',
  98: 'MENU ECONOMICO',
  99: 'DESAYUNO',
  100: 'MENU ECONOMICO',
  101: 'MENU ECONOMICO',
  102: 'MENU ECONOMICO',
  103: 'DESAYUNO',
  104: 'MENU ECONOMICO',
  105: 'MENU ECONOMICO',
  106: 'MENU ECONOMICO',
  107: 'DESAYUNO',
  108: 'MENU ECONOMICO',
  109: 'MENU ECONOMICO',
  110: 'MENU ECONOMICO',
  111: 'DESAYUNO',
  112: 'DESAYUNO',
  113: 'MENU ECONOMICO',
  114: 'MENU ECONOMICO',
  115: 'MENU ECONOMICO',
  116: 'MENU ECONOMICO',
  117: 'MENU ECONOMICO',
  118: 'MENU ECONOMICO',
  119: 'DESAYUNO',
  120: 'MENU ECONOMICO',
  121: 'MENU ECONOMICO',
  122: 'MENU ECONOMICO',
  123: 'MENU ECONOMICO',
  124: 'DESAYUNO',
  125: 'MENU ECONOMICO',
  126: 'MENU ECONOMICO',
  127: 'MENU ECONOMICO',
  128: 'DESAYUNO',
  129: 'MENU ECONOMICO',
  130: 'MENU ECONOMICO',
  131: 'MENU ECONOMICO',
  132: 'MENU ECONOMICO',
  133: 'DESAYUNO',
  134: 'MENU ECONOMICO',
  135: 'DESAYUNO',
  136: 'MENU ECONOMICO',
  137: 'MENU ECONOMICO',
  138: 'MENU ECONOMICO',
  139: 'MENU ECONOMICO',
  140: 'MENU ECONOMICO',
  141: 'DESAYUNO',
  142: 'MENU ECONOMICO',
  143: 'MENU ECONOMICO',
  144: 'MENU ECONOMICO',
  145: 'DESAYUNO',
  146: 'DESAYUNO',
  147: 'MENU ECONOMICO',
  148: 'MENU ECONOMICO',
  149: 'DESAYUNO',
  150: 'MENU ECONOMICO',
  151: 'MENU ECONOMICO',
  152: 'DESAYUNO',
  153: 'MENU ECONOMICO',
  154: 'MENU ECONOMICO',
  155: 'DESAYUNO',
  156: 'DESAYUNO',
  157: 'MENU ECONOMICO',
  158: 'DESAYUNO',
  159: 'MENU ECONOMICO',
  160: 'DESAYUNO',
  161: 'MENU ECONOMICO',
  162: 'MENU ECONOMICO',
  163: 'DESAYUNO',
  164: 'MENU ECONOMICO',
  165: 'MENU ECONOMICO',
  166: 'DESAYUNO',
  167: 'MENU ECONOMICO',
  168: 'DESAYUNO',
  169: 'MENU ECONOMICO',
  170: 'MENU ECONOMICO',
  171: 'DESAYUNO',
  172: 'MENU ECONOMICO',
  173: 'DESAYUNO',
  174: 'DESAYUNO',
  175: 'MENU ECONOMICO',
  176: 'MENU ECONOMICO',
  177: 'DESAYUNO',
  178: 'MENU ECONOMICO',
  179: 'DESAYUNO',
  180: 'MENU ECONOMICO',
  181: 'DESAYUNO',
  182: 'MENU ECONOMICO',
  183: 'DESAYUNO',
  184: 'MENU ECONOMICO',
  185: 'MENU ECONOMICO',
  186: 'DESAYUNO',
  187: 'MENU ECONOMICO',
  188: 'DESAYUNO',
  189: 'DESAYUNO',
  190: 'MENU ECONOMICO',
  191: 'DESAYUNO',
  192: 'MENU ECONOMICO',
  193: 'MENU ECONOMICO',
  194: 'MENU ECONOMICO',
  195: 'MENU ECONOMICO',
  196: 'MENU ECONOMICO',
  197: 'MENU ECONOMICO',
  198: 'MENU ECONOMICO',
  199: 'MENU ECONOMICO',
  200: 'MENU ECONOMICO'},
 'cantidad': {0: 1.0,
  1: 1.0,
  2: 1.0,
  3: 3.0,
  4: 1.0,
  5: 19.0,
  6: 20.0,
  7: 15.0,
  8: 8.0,
  9: 3.0,
  10: 15.0,
  11: 1.0,
  12: 8.0,
  13: 10.0,
  14: 17.0,
  15: 1.0,
  16: 5.0,
  17: 10.0,
  18: 19.0,
  19: 20.0,
  20: 20.0,
  21: 1.0,
  22: 9.0,
  23: 14.0,
  24: 19.0,
  25: 3.0,
  26: 16.0,
  27: 1.0,
  28: 16.0,
  29: 7.0,
  30: 1.0,
  31: 19.0,
  32: 12.0,
  33: 6.0,
  34: 8.0,
  35: 10.0,
  36: 4.0,
  37: 14.0,
  38: 4.0,
  39: 14.0,
  40: 8.0,
  41: 15.0,
  42: 4.0,
  43: 18.0,
  44: 17.0,
  45: 5.0,
  46: 1.0,
  47: 1.0,
  48: 18.0,
  49: 7.0,
  50: 8.0,
  51: 18.0,
  52: 8.0,
  53: 7.0,
  54: 18.0,
  55: 7.0,
  56: 10.0,
  57: 8.0,
  58: 10.0,
  59: 4.0,
  60: 10.0,
  61: 19.0,
  62: 1.0,
  63: 6.0,
  64: 9.0,
  65: 10.0,
  66: 9.0,
  67: 2.0,
  68: 9.0,
  69: 18.0,
  70: 1.0,
  71: 19.0,
  72: 5.0,
  73: 1.0,
  74: 4.0,
  75: 20.0,
  76: 16.0,
  77: 19.0,
  78: 18.0,
  79: 3.0,
  80: 20.0,
  81: 7.0,
  82: 13.0,
  83: 19.0,
  84: 2.0,
  85: 19.0,
  86: 1.0,
  87: 18.0,
  88: 19.0,
  89: 1.0,
  90: 8.0,
  91: 8.0,
  92: 1.0,
  93: 1.0,
  94: 1.0,
  95: 4.0,
  96: 9.0,
  97: 4.0,
  98: 10.0,
  99: 8.0,
  100: 9.0,
  101: 16.0,
  102: 2.0,
  103: 7.0,
  104: 9.0,
  105: 18.0,
  106: 17.0,
  107: 4.0,
  108: 13.0,
  109: 10.0,
  110: 19.0,
  111: 16.0,
  112: 4.0,
  113: 13.0,
  114: 3.0,
  115: 19.0,
  116: 19.0,
  117: 4.0,
  118: 10.0,
  119: 4.0,
  120: 4.0,
  121: 5.0,
  122: 2.0,
  123: 9.0,
  124: 4.0,
  125: 14.0,
  126: 18.0,
  127: 16.0,
  128: 4.0,
  129: 8.0,
  130: 1.0,
  131: 14.0,
  132: 8.0,
  133: 8.0,
  134: 4.0,
  135: 8.0,
  136: 3.0,
  137: 20.0,
  138: 20.0,
  139: 14.0,
  140: 19.0,
  141: 8.0,
  142: 1.0,
  143: 2.0,
  144: 8.0,
  145: 15.0,
  146: 8.0,
  147: 10.0,
  148: 10.0,
  149: 2.0,
  150: 10.0,
  151: 19.0,
  152: 7.0,
  153: 10.0,
  154: 6.0,
  155: 6.0,
  156: 7.0,
  157: 9.0,
  158: 8.0,
  159: 10.0,
  160: 8.0,
  161: 10.0,
  162: 1.0,
  163: 8.0,
  164: 1.0,
  165: 1.0,
  166: 7.0,
  167: 14.0,
  168: 8.0,
  169: 10.0,
  170: 18.0,
  171: 6.0,
  172: 10.0,
  173: 14.0,
  174: 4.0,
  175: 14.0,
  176: 19.0,
  177: 8.0,
  178: 9.0,
  179: 15.0,
  180: 8.0,
  181: 8.0,
  182: 18.0,
  183: 8.0,
  184: 8.0,
  185: 18.0,
  186: 3.0,
  187: 14.0,
  188: 15.0,
  189: 16.0,
  190: 9.0,
  191: 8.0,
  192: 10.0,
  193: 1.0,
  194: 6.0,
  195: 1.0,
  196: 2.0,
  197: 1.0,
  198: 1.0,
  199: 1.0,
  200: 1.0},
 'monto Total': {0: 8,
  1: 4,
  2: 8,
  3: 24,
  4: 8,
  5: 152,
  6: 160,
  7: 120,
  8: 64,
  9: 24,
  10: 120,
  11: 8,
  12: 64,
  13: 80,
  14: 136,
  15: 8,
  16: 40,
  17: 80,
  18: 152,
  19: 160,
  20: 160,
  21: 8,
  22: 72,
  23: 112,
  24: 152,
  25: 24,
  26: 128,
  27: 8,
  28: 128,
  29: 56,
  30: 8,
  31: 152,
  32: 96,
  33: 24,
  34: 32,
  35: 80,
  36: 16,
  37: 112,
  38: 16,
  39: 112,
  40: 64,
  41: 120,
  42: 32,
  43: 144,
  44: 136,
  45: 40,
  46: 8,
  47: 8,
  48: 144,
  49: 28,
  50: 64,
  51: 144,
  52: 32,
  53: 56,
  54: 144,
  55: 28,
  56: 80,
  57: 32,
  58: 80,
  59: 16,
  60: 80,
  61: 152,
  62: 4,
  63: 48,
  64: 72,
  65: 80,
  66: 72,
  67: 8,
  68: 72,
  69: 144,
  70: 8,
  71: 152,
  72: 40,
  73: 8,
  74: 32,
  75: 160,
  76: 64,
  77: 152,
  78: 144,
  79: 24,
  80: 160,
  81: 28,
  82: 104,
  83: 152,
  84: 8,
  85: 152,
  86: 8,
  87: 144,
  88: 152,
  89: 4,
  90: 32,
  91: 64,
  92: 4,
  93: 8,
  94: 8,
  95: 16,
  96: 72,
  97: 16,
  98: 80,
  99: 32,
  100: 72,
  101: 128,
  102: 16,
  103: 28,
  104: 72,
  105: 144,
  106: 136,
  107: 16,
  108: 104,
  109: 80,
  110: 152,
  111: 64,
  112: 16,
  113: 104,
  114: 24,
  115: 152,
  116: 152,
  117: 32,
  118: 80,
  119: 16,
  120: 32,
  121: 40,
  122: 16,
  123: 72,
  124: 16,
  125: 112,
  126: 144,
  127: 128,
  128: 16,
  129: 64,
  130: 8,
  131: 112,
  132: 64,
  133: 32,
  134: 32,
  135: 32,
  136: 24,
  137: 160,
  138: 160,
  139: 112,
  140: 152,
  141: 32,
  142: 8,
  143: 16,
  144: 64,
  145: 60,
  146: 32,
  147: 80,
  148: 80,
  149: 8,
  150: 80,
  151: 152,
  152: 28,
  153: 80,
  154: 48,
  155: 24,
  156: 28,
  157: 72,
  158: 32,
  159: 80,
  160: 32,
  161: 80,
  162: 8,
  163: 32,
  164: 8,
  165: 8,
  166: 28,
  167: 112,
  168: 32,
  169: 80,
  170: 144,
  171: 24,
  172: 80,
  173: 56,
  174: 16,
  175: 112,
  176: 152,
  177: 32,
  178: 72,
  179: 60,
  180: 64,
  181: 32,
  182: 144,
  183: 32,
  184: 64,
  185: 144,
  186: 12,
  187: 112,
  188: 60,
  189: 64,
  190: 72,
  191: 32,
  192: 80,
  193: 8,
  194: 48,
  195: 8,
  196: 16,
  197: 8,
  198: 8,
  199: 8,
  200: 8}}

In [239]:
consumo_comedor('x','Dic')

Error, inserta el NOMBRE correcto

In [240]:
consumo_comedor('Concepto','DIC')

Error, inserta el MODO correcto

<ipython-input-230-8191ed6cd973>:5: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  tabla = x.groupby(['Concepto'])['cantidad','monto Total'].sum()