## Tarea 3 - Desarrollo de Alexander Max Tello Fuentes

In [1]:
import pandas as pd
import numpy as np
import chardet
from pandas import DataFrame
from pandas import Series
import os

#### Reconocemos el tipo de caracter o "encoding" de los datos del CSV

In [2]:
rawdata = open(r'D:\Cursos de programacion\Code_Blinders\The_Code_Blinders\data\fallecidos_covid.csv', 'rb').read()
result = chardet.detect(rawdata)
charenc = result['encoding']
charenc

'ISO-8859-1'

#### Relative Path
Usaremos el "charenc" hallado pues es el encoding para importar el archivo "fallecidos_covid"

In [3]:
print(os.getcwd())
#relative_path = 'D:/Cursos de programacion/Code_Blinders/The_Code_Blinders/data/fallecidos_covid.csv'
relative_path = r'The_Code_Blinders/data/fallecidos_covid.csv'

D:\Cursos de programacion\Code_Blinders

In [4]:
muertos_covid = pd.read_csv(relative_path , sep = ';' , encoding = "ISO-8859-1")

In [5]:
muertos_covid.head()

,FECHA_CORTE,UUID,FECHA_FALLECIMIENTO,EDAD_DECLARADA,SEXO,FECHA_NAC,DEPARTAMENTO,PROVINCIA,DISTRITO
0,20210302,cdbdc47c6c955a031f997677becb9065,20200729,64,MASCULINO,19551202.0,LIMA,LIMA,CHORRILLOS
1,20210302,a3aaeeedaba295f128635f5edbda6498,20200729,78,FEMENINO,19420118.0,LIMA,LIMA,COMAS
2,20210302,631e87aac1be2aabd19935a6a255a569,20200729,66,MASCULINO,19540503.0,LIMA,LIMA,COMAS
3,20210302,74c292a1a2c357a786b26a13fc839719,20200729,69,MASCULINO,19510314.0,LIMA,LIMA,COMAS
4,20210302,229e060d0ece75f752a790eab2e4470d,20200729,71,MASCULINO,19490215.0,LIMA,LIMA,COMAS

#### ID
Hallamos la variable que identifica de forma única a cada variable

In [6]:
ID = muertos_covid['UUID']
print("La cantidad de datos únicos de UUID es",len(muertos_covid['UUID'].unique()), "que es igual a la cantidad de datos de UUID")
ID
#La variable UUID identifica unicamente a cada observación.

La cantidad de datos únicos de UUID es 47089 que es igual a la cantidad de datos de UUID

0        cdbdc47c6c955a031f997677becb9065
1        a3aaeeedaba295f128635f5edbda6498
2        631e87aac1be2aabd19935a6a255a569
3        74c292a1a2c357a786b26a13fc839719
4        229e060d0ece75f752a790eab2e4470d
                       ...
47084    5a88884f8b44e60cd1b48600e9f82275
47085    06a96fa92f5ee82a29386e177cdb700f
47086    d192565dac6c74ed120c402cbbdd3115
47087    01be7035823ed5f7b5de812af513bd60
47088    80ef6326c8cf48002d98dce3a79b0369
Name: UUID, Length: 47089, dtype: object

#### Análisis de la data fallecidos Covid

#### 1. ¿A qué sexo pertenecen el mayor número de fallecidos?

In [7]:
muertos_covid.groupby(["SEXO"])["SEXO"].count()

SEXO
10               3
11               7
FEMENINO     15325
MASCULINO    31754
Name: SEXO, dtype: int64

 - El mayor número de fallecidos pertence al sexo Masculino con 31 754 muertes.

#### 2. Dentro de los fallecidos de entre 30 y 60 años, ¿Qué sexo es el que cuenta con mayor número de fallecidos ?

In [8]:
muestra_edad = muertos_covid.loc[(muertos_covid["EDAD_DECLARADA"] >=30)&(muertos_covid["EDAD_DECLARADA"] <=60)]
print(muestra_edad["EDAD_DECLARADA"].min())
print(muestra_edad["EDAD_DECLARADA"].max())
muestra_edad.groupby(["SEXO"])["SEXO"].count()

30
60

SEXO
10               1
11               2
FEMENINO      4111
MASCULINO    10459
Name: SEXO, dtype: int64

- Entre los individuos de entre 30 y 60 años, el sexo masculino tuvo el mayor número de muertes con 10 459 fallecidos.

#### 3. ¿Cuántas observaciones no cuentan con información de fecha de nacimiento?

In [9]:
muertos_covid["FECHA_NAC"].isnull().sum()

15342

- Hay 15 342 observaciones sin información de fecha de nacimiento.

##### 4.Halla el total de fallecidos por departamento.

In [62]:
DEP = muertos_covid.groupby(["DEPARTAMENTO"])[["UUID"]].count().rename(columns={'UUID': 'NUM_DEP'}).reset_index(level = ["DEPARTAMENTO"])
DEP.head()

  DEPARTAMENTO  NUM_DEP
0     AMAZONAS      326
1       ANCASH     1878
2     APURIMAC      275
3     AREQUIPA     2026
4     AYACUCHO      504

#### 5. Halla el total de fallecidos por provincia.

In [36]:
prov  = muertos_covid.groupby(["PROVINCIA"])[["UUID"]].count().rename(columns={'UUID': 'NUM_PROV'}).reset_index(level = ["PROVINCIA"] )
prov

         PROVINCIA  NUM_PROV
0          ABANCAY       125
1         ACOBAMBA        10
2          ACOMAYO         9
3             AIJA         6
4    ALTO AMAZONAS        65
..             ...       ...
195          YAULI        57
196         YAUYOS        28
197         YUNGAY        23
198        YUNGUYO        29
199      ZARUMILLA        77

[200 rows x 2 columns]

#### 6. Halla el total de fallecidos por distrito.

In [38]:
dis = muertos_covid.groupby(["DISTRITO"])[["UUID"]].count().rename(columns={'UUID': 'NUM_DIS'}).reset_index(level = ["DISTRITO"] )
dis

          DISTRITO  NUM_DIS
0          ABANCAY       96
1            ACARI        3
2             ACAS        2
3            ACCHA        1
4           ACHOMA        2
...            ...      ...
1330     ZARUMILLA       43
1331      ZORRITOS       26
1332        ZURITE        3
1333        ZUÑIGA        4
1334  ÑAHUIMPUQUIO        2

[1335 rows x 2 columns]

#### 7. Genera una tabla donde se encuentre el porcentaje de muertos por cada distrito con respecto a la provincia (llamen a la columna distr_prov) que pertenecen. Este dataframe debe contener las siguientes columnas: DEPARTAMENTO, PROVINCIA, DISTRITO y distr_prov.

In [63]:
Nueva_tabla = muertos_covid[["DEPARTAMENTO" , "PROVINCIA", "DISTRITO"]]

In [64]:
Tabla_dos = Nueva_tabla.merge(prov,how = "left",on = "PROVINCIA",indicator = False )
Tabla_dos.head()

  DEPARTAMENTO PROVINCIA    DISTRITO  NUM_PROV
0         LIMA      LIMA  CHORRILLOS   18525.0
1         LIMA      LIMA       COMAS   18525.0
2         LIMA      LIMA       COMAS   18525.0
3         LIMA      LIMA       COMAS   18525.0
4         LIMA      LIMA       COMAS   18525.0

In [68]:
Tabla_tres = Tabla_dos.merge(dis,how = "left",on = "DISTRITO",indicator = False )
Tabla_tres.head()

  DEPARTAMENTO PROVINCIA    DISTRITO  NUM_PROV  NUM_DIS
0         LIMA      LIMA  CHORRILLOS   18525.0    634.0
1         LIMA      LIMA       COMAS   18525.0   1233.0
2         LIMA      LIMA       COMAS   18525.0   1233.0
3         LIMA      LIMA       COMAS   18525.0   1233.0
4         LIMA      LIMA       COMAS   18525.0   1233.0

In [69]:
Tabla_tres['distr_prov'] = 100*Tabla_tres['NUM_DIS'] / Tabla_tres['NUM_PROV']
Tabla_tres.head()

  DEPARTAMENTO PROVINCIA    DISTRITO  NUM_PROV  NUM_DIS  distr_prov
0         LIMA      LIMA  CHORRILLOS   18525.0    634.0    3.422402
1         LIMA      LIMA       COMAS   18525.0   1233.0    6.655870
2         LIMA      LIMA       COMAS   18525.0   1233.0    6.655870
3         LIMA      LIMA       COMAS   18525.0   1233.0    6.655870
4         LIMA      LIMA       COMAS   18525.0   1233.0    6.655870

In [70]:
Solucion = Tabla_tres[['DEPARTAMENTO', 'PROVINCIA' ,'DISTRITO' ,'distr_prov']]
Solucion.head()

  DEPARTAMENTO PROVINCIA    DISTRITO  distr_prov
0         LIMA      LIMA  CHORRILLOS    3.422402
1         LIMA      LIMA       COMAS    6.655870
2         LIMA      LIMA       COMAS    6.655870
3         LIMA      LIMA       COMAS    6.655870
4         LIMA      LIMA       COMAS    6.655870

#### 8. Genera una tabla donde se encuentre el porcentaje de muertos por cada provincia con respecto al departamento que pertenecen (llamen a la columna prov_dpto). Este dataframe debe contener las siguientes columnas: DEPARTAMENTO, PROVINCIA y prov_dpto.

In [76]:
tabla_cuatro = Tabla_tres.merge(DEP,how = 'left',on = 'DEPARTAMENTO',indicator = False)
tabla_cuatro['prov_dpto']= 100*tabla_cuatro['NUM_PROV']/tabla_cuatro['NUM_DEP']
tabla_cuatro.head()

,DEPARTAMENTO,PROVINCIA,DISTRITO,NUM_PROV,NUM_DIS,distr_prov,NUM_DEP,prov_dpto
0,LIMA,LIMA,CHORRILLOS,18525.0,634.0,3.422402,20593,89.957753
1,LIMA,LIMA,COMAS,18525.0,1233.0,6.655870,20593,89.957753
2,LIMA,LIMA,COMAS,18525.0,1233.0,6.655870,20593,89.957753
3,LIMA,LIMA,COMAS,18525.0,1233.0,6.655870,20593,89.957753
4,LIMA,LIMA,COMAS,18525.0,1233.0,6.655870,20593,89.957753

In [78]:
Resolucion = tabla_cuatro[['DEPARTAMENTO','PROVINCIA','prov_dpto']]
Resolucion.head()

  DEPARTAMENTO PROVINCIA  prov_dpto
0         LIMA      LIMA  89.957753
1         LIMA      LIMA  89.957753
2         LIMA      LIMA  89.957753
3         LIMA      LIMA  89.957753
4         LIMA      LIMA  89.957753

#### 9. Genera una tabla donde se encuentre el porcentaje de muertos por cada distrito con respecto al departamento que pertenecen (llamen a la columna distr_dpto). Este dataframe debe contener las siguientes columnas: DEPARTAMENTO, PROVINCIA, DISTRITO, distr_prov, prov_dpto y distr_dpto.

In [80]:
tabla_cuatro['distr_dpto']= 100*tabla_cuatro['NUM_DIS']/tabla_cuatro['NUM_DEP']
tabla_cuatro.head()

,DEPARTAMENTO,PROVINCIA,DISTRITO,NUM_PROV,NUM_DIS,distr_prov,NUM_DEP,prov_dpto,distr_dpto
0,LIMA,LIMA,CHORRILLOS,18525.0,634.0,3.422402,20593,89.957753,3.078716
1,LIMA,LIMA,COMAS,18525.0,1233.0,6.655870,20593,89.957753,5.987471
2,LIMA,LIMA,COMAS,18525.0,1233.0,6.655870,20593,89.957753,5.987471
3,LIMA,LIMA,COMAS,18525.0,1233.0,6.655870,20593,89.957753,5.987471
4,LIMA,LIMA,COMAS,18525.0,1233.0,6.655870,20593,89.957753,5.987471

In [82]:
final = tabla_cuatro[['DEPARTAMENTO', 'PROVINCIA', 'DISTRITO', 'distr_prov', 'prov_dpto', 'distr_dpto']]
final.head()

  DEPARTAMENTO PROVINCIA    DISTRITO  distr_prov  prov_dpto  distr_dpto
0         LIMA      LIMA  CHORRILLOS    3.422402  89.957753    3.078716
1         LIMA      LIMA       COMAS    6.655870  89.957753    5.987471
2         LIMA      LIMA       COMAS    6.655870  89.957753    5.987471
3         LIMA      LIMA       COMAS    6.655870  89.957753    5.987471
4         LIMA      LIMA       COMAS    6.655870  89.957753    5.987471

#### 10. Exportar la data de la pregunta 8 en un csv que se guarde en la carpeta save_data. Los datos nuemricos deben ser redondeados en 2 decimales.

In [86]:
Resolucion.to_csv('Tareas/pregunta_8.csv', index = False, header=True, sep = ';',decimal = '.',float_format='%.3f')