# PANDAS

* Los pandas son librerias de python que nos permite manipular y analizar data de diversas maneras.<br>
* El estudio de la estructura de datos de los pandas se dividen en Series y en DataFrame.

### *Series*

Las series son estructuras de datos de pandas.La cual es una matriz unidimensional que puede contener cualquier tipo de datos,así como un ndarray.Sin embargo, las caracteristicas de las series es que tienen un indice que le da la etiqueta a cada ingresado.En una serie el primer parámetro son los datos y el segundo es el índice.

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
# crear un serie
num = pd.Series([1,2,3])
num

0    1
1    2
2    3
dtype: int64

In [3]:
type(num)

pandas.core.series.Series

In [4]:
num1 = pd.Series([10,15,16,19,20,81])
num1

0    10
1    15
2    16
3    19
4    20
5    81
dtype: int64

In [6]:
names = Series(["andres" ,"lucas,pedro","pedro","juan"])
names

0         andres
1    lucas,pedro
2          pedro
3           juan
dtype: object

In [7]:
comb = Series([True ,False,"andres","lucas","pedro","juan",1,2,3])
comb

0      True
1     False
2    andres
3     lucas
4     pedro
5      juan
6         1
7         2
8         3
dtype: object

In [8]:
# crear una serie a partir de un diccionario
notas = {"calculo":15, "lenguaje":16, "historia":12, "geometria":20}
notas

{'calculo': 15, 'lenguaje': 16, 'historia': 12, 'geometria': 20}

In [9]:
type(notas)

dict

In [10]:
registro = pd.Series(notas)
registro

calculo      15
lenguaje     16
historia     12
geometria    20
dtype: int64

In [11]:
type(registro)

pandas.core.series.Series

In [12]:
distritos = {"comas":20, "lince":50, "smp":45, "sjl":100}   
distritos

{'comas': 20, 'lince': 50, 'smp': 45, 'sjl': 100}

In [13]:
pob_dis = pd.Series(distritos)
pob_dis

comas     20
lince     50
smp       45
sjl      100
dtype: int64

In [14]:
# cambiar los indices
ejemplo = Series([4,5,6,8])
ejemplo

0    4
1    5
2    6
3    8
dtype: int64

In [15]:
ejemplo1 = pd.Series([4,5,6,8], index = ["a","b","c","d"])
ejemplo1

a    4
b    5
c    6
d    8
dtype: int64

In [17]:
distritos_2 = ["comas","lince","breña","smp","sjl"]
dist_ej = pd.Series(distritos, index = distritos_2)
dist_ej

comas     20.0
lince     50.0
breña      NaN
smp       45.0
sjl      100.0
dtype: float64

In [18]:
pop = pd.Series(np.arange(5,10))
pop

0    5
1    6
2    7
3    8
4    9
dtype: int32

In [19]:
unos = pd.Series(np.ones(5))
unos

0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [20]:
fives = pd.Series(np.full((8),5))
fives

0    5
1    5
2    5
3    5
4    5
5    5
6    5
7    5
dtype: int32

In [21]:
# np.random.randint

In [26]:
math =  pd.Series(np.random.randint(0,100,8))
math

0    35
1    35
2    74
3    97
4    14
5    43
6    98
7     3
dtype: int32

In [31]:
math_2 =pd.Series(np.random.random(5))
math_2

0    0.757179
1    0.058017
2    0.910797
3    0.690427
4    0.385906
dtype: float64

In [32]:
math_3 = pd.Series(np.random.randn(10))
math_3

0    1.212449
1    1.202158
2    2.196818
3   -1.262537
4    1.357946
5    1.649133
6    0.191824
7    0.093472
8    0.727597
9   -0.224835
dtype: float64

In [33]:
decimal = pd.Series(np.random.random(5),["luis","pedro","juan","alberto","sebastian"])
decimal

luis         0.514149
pedro        0.252000
juan         0.347358
alberto      0.797139
sebastian    0.029556
dtype: float64

In [36]:
algebra = pd.Series(np.arange(0,20,2),np.arange(0,50,5))
algebra

0      0
5      2
10     4
15     6
20     8
25    10
30    12
35    14
40    16
45    18
dtype: int32

In [37]:
num1

0    10
1    15
2    16
3    19
4    20
5    81
dtype: int64

In [38]:
num1[2]

16

In [40]:
num1[0]

10

In [43]:
enteros = num1[[3,4,5]]
enteros

3    19
4    20
5    81
dtype: int64

In [44]:
type(enteros)

pandas.core.series.Series

In [45]:
dist_ej

comas     20.0
lince     50.0
breña      NaN
smp       45.0
sjl      100.0
dtype: float64

In [47]:
dist_ej["comas"]

20.0

In [48]:
dist_ej[["comas","sjl"]]

comas     20.0
sjl      100.0
dtype: float64

In [55]:
enteros2 = pd.Series([5,6,7], index = [3,4,5])
enteros2

3    5
4    6
5    7
dtype: int64

In [52]:
enteros2 + enteros

3    24
4    26
5    88
dtype: int64