In [13]:
import pandas as pd

In [4]:
import pickle

# Funciones

En esta clase trataremos acerca de todo lo relacionado con la creación de funciones en el entorno de Python.

### Variables internas VS  Variables Externas

### Llamando a un diccionario

In [8]:
dictionary_places = open( r"..\..\data\places_result", "rb")
places_result = pickle.load( dictionary_places )

In [ ]:
places_result

### Definiendo una función

In [12]:
# Getting information from dictionaries

def places_frame( map_place_dict ):
    
    latitude = []
    longitud = []
    name_inst = []
    address = []
    
    results = len( map_place_dict[ 'results' ] )
    
    for rest in range( 0 , results ):
        
        lat = map_place_dict[ 'results' ][ rest ]['geometry']['location']['lat']
        latitude.append( lat )
        
        long = map_place_dict[ 'results' ][ rest ]['geometry']['location']['lng']
        longitud.append( long )
        
        name = map_place_dict[ 'results' ][ rest ][ 'name' ]
        name_inst.append( name )
        
        adrs = map_place_dict[ 'results' ][ rest ][ 'formatted_address' ]
        address.append( adrs )
        
    
    data_frame = pd.DataFrame( { 'Institution' : name_inst, 'Location_Addres' : address , 'Latitude' : latitude ,'Longitud' : longitud } )
        
    return data_frame

In [ ]:
places_frame( places_result )

In [32]:
import csv
import urllib

url = 'https://cloud.minsa.gob.pe/s/Y8w3wHsEdYQSZRp/download'
response =  urllib.request.urlopen( url )
cr = csv.reader( response )

In [26]:
import pandas as pd
import io
import requests
url="https://cloud.minsa.gob.pe/s/Y8w3wHsEdYQSZRp/download"
csv_url=requests.get(url).content

In [25]:
data=pd.read_csv( io.StringIO( csv_url.decode( 'utf-8' ) ) , delimiter = ";")

In [26]:
data.head(3)

,FECHA_CORTE,UUID,DEPARTAMENTO,PROVINCIA,DISTRITO,METODODX,EDAD,SEXO,FECHA_RESULTADO
0,20210316,7320cabdc1aaca6c59014cae76a134e6,LAMBAYEQUE,FERREÑAFE,FERREÑAFE,PR,35.0,FEMENINO,20200329.0
1,20210316,71ecb6bccb248b0bb2ac72ed51b5e979,LIMA,LIMA,CHORRILLOS,PR,36.0,MASCULINO,20200330.0
2,20210316,566af4276cbe9359abe93f9aa86396c3,LIMA,LIMA,LIMA,PR,1.0,FEMENINO,20200330.0

In [27]:
data['year'] = data['FECHA_RESULTADO'].astype(str).str[:4]
data['mes'] = data['FECHA_RESULTADO'].astype(str).str[4:6]
data['day'] = data['FECHA_RESULTADO'].astype(str).str[6:8]

In [28]:
data = data[data['year'] != 'nan']

In [32]:
data1 = data.groupby(['DEPARTAMENTO', 'year'])[['UUID']].count()